.view-wallet {
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	background: white;
	justify-content: center;
	align-items: center;
	gap: 32px;
	display: inline-flex;
}

.view-wallet-left {
	align-self: stretch;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	display: inline-flex;
}

.view-wallet-right {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	background: #f4f4f4;
	border-radius: 24px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	display: inline-flex;
}

.view-wallet-right-address {
	align-self: stretch;
	height: 56px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	background: white;
	border-radius: 16px;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	display: inline-flex;
}

.view-wallet-icon {
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}

.view-wallet-address-details {
	flex: 1 1 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: inline-flex;
}

.view-wallet-address-title {
	color: #010333;
	font-size: 15px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 24px;
	word-wrap: break-word;
}

.view-wallet-address {
	color: #010333;
	font-size: 11px;
	font-family: Poppins;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.view-wallet-image-container {
	padding: 2px;
	background: white;

	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
	display: inline-flex;
}

.view-wallet-image {
	width: 180px;
	height: 180px;
}

.view-wallet-qr-code-label {
	align-self: stretch;
	color: #010333;
	font-size: 15px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 24px;
	word-wrap: break-word;
}

.view-wallet-left-header {
	align-self: stretch;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	display: flex;
}

.view-wallet-title-div {
	align-self: stretch;
	height: 60px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	display: flex;
}

.view-wallet-title {
	align-self: stretch;
	text-align: center;
	color: black;
	font-size: 25px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 30px;
	word-wrap: break-word;
}

.view-wallet-description {
	align-self: stretch;
	text-align: center;
	color: #010333;
	font-size: 14px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	word-wrap: break-word;
}

.view-wallet-words-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	display: flex;
}

.view-wallet-words-c-div {
	justify-content: center;
	align-items: center;
	gap: 16px;
	display: inline-flex;
}

.view-wallet-qr-code-description {
	align-self: stretch;
	text-align: center;
	color: #010333;
	font-size: 11px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.5px;
	word-wrap: break-word;
}

.view-wallet-download-container {
	align-self: stretch;
	height: 56px;
	padding: 8px 12px;
	background: white;
	border-radius: 16px;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	display: inline-flex;
}

.view-wallet-continue-container {
	align-self: stretch;
	height: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	display: flex;
}

.view-wallet-continue-button {
	width: 100%;
	border-radius: 16px;
}

.view-wallet-word-container {
	height: 40px;
	width: 85px;
	padding-left: 8px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #f4f4f4;
	border-radius: 8px;
	border: 1px rgba(0, 0, 0, 0.35) solid;
	align-items: center;
	gap: 3px;
	display: flex;
}

.view-wallet-word {
	color: #46464f;
	font-size: 15px;
	font-family: Poppins;
	font-weight: 600;
	line-height: 24px;
	word-wrap: break-word;
}

$maxExtraSmall: 595px;
$minSmall: 600px;
$medium: 768px;
$large: 889px;
$computers: 1200px;

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: $maxExtraSmall) {
	.view-wallet {
		width: 400px;
		height: 77vh;
		overflow-y: scroll;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
		background: white;
		justify-content: center;
		align-items: center;
		gap: 10px;
		display: inline-flex;
	}

	.view-wallet-left-header {
		gap: 40px;
	}

	.view-wallet-word-container {
		height: 30px;
		width: 60px;
	}

	.view-wallet-word {
		font-size: 11px;
	}

	.view-wallet-words-c-div {
		gap: 3px;
	}

	.view-wallet-right {
		padding-left: 8px;
		padding-right: 8px;
	}
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: $minSmall) {
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: $medium) {
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: $large) {
	.view-wallet {
		width: 880px;
		height: 70vh;
		overflow-y: scroll;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
		background: white;

		justify-content: center;
		align-items: center;
		gap: 32px;
		display: inline-flex;
	}
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: $computers) {
	.view-wallet {
		width: 1050px;
		height: 70vh;
		overflow-y: scroll;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
		background: white;
		justify-content: center;
		align-items: center;
		gap: 32px;
		display: inline-flex;
	}
}
