$maxExtraSmall: 595px;
$minSmall: 600px;
$medium: 768px;
$large: 889px;
$computers: 1200px;

.footer {
	align-items: center;
	background: white;
	bottom: 0;
	display: inline-flex;
	height: 40px;
	justify-content: center;
	max-width: 900px;
	padding-bottom: 4px;
	padding-top: 4px;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

.footer-link {
	flex: 1 1 0;
	height: 29px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: flex;
	cursor: pointer;
	fill: #c3c6cf;

	&--active {
		fill: black;
	}
}
