<div class="zelf-card">
	<div class="unlock-inner-container" fxLayout="column" fxLayoutAlign="space-between center">
		<h2 *ngIf="!potentialWallet && !zelfProof">{{ "unlock_wallet.title" | transloco }}</h2>

		<form class="unlock-box" [formGroup]="searchForm" #searchNgForm="ngForm" *ngIf="!potentialWallet && !zelfProof">
			<div class="unlock-description">{{ "unlock_wallet.description" | transloco }}</div>
			<div class="unlock-input-box">
				<div class="unlock-input-text-container">
					<mat-form-field class="w-full">
						<input type="text" matInput [formControlName]="'address'" />
					</mat-form-field>
				</div>
				<div class="unlock-icon-container">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M14.76 13.27L20.49 19L19 20.49L13.27 14.76C12.2 15.53 10.91 16 9.5 16C5.91 16 3 13.09 3 9.5C3 5.91 5.91 3 9.5 3C13.09 3 16 5.91 16 9.5C16 10.91 15.53 12.2 14.76 13.27ZM9.5 5C7.01 5 5 7.01 5 9.5C5 11.99 7.01 14 9.5 14C11.99 14 14 11.99 14 9.5C14 7.01 11.99 5 9.5 5Z"
							fill="#43474E"
						/>
					</svg>
				</div>
			</div>
		</form>

		<div class="unlock-box" *ngIf="!potentialWallet && !zelfProof">
			<div class="unlock-description">{{ "unlock_wallet.upload_description" | transloco }}</div>

			<div class="unlock-upload-inner-box" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (dragleave)="onDragLeave($event)">
				<div class="unlock-upload-button">
					<input type="file" (change)="onFileSelected($event)" hidden #fileInput />
					<div class="unlock-upload-button-text" (click)="fileInput.click()">{{ "unlock_wallet.upload_button" | transloco }}</div>
				</div>
				<div class="unlock-drag-drop-text">{{ "unlock_wallet.drag_drop_text" | transloco }}</div>
			</div>
		</div>

		<div *ngIf="potentialWallet" fxLayout="column" fxLayoutAlign="center center" class="w-full">
			<!--  -->
			<h2 class="text-center">
				{{ "unlock_wallet.account_found" | transloco }}
			</h2>

			<div *ngIf="zelfProof" class="" fxLayout="row" fxLayoutAlign="center center">
				<img [src]="fileBase64" alt="Uploaded QR Code" class="w-35p" />
			</div>

			<div fxLayout="column" fxLayoutAlign="center center" class="public-data-content">
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<p class="text-grey">{{ "common.eth_address" | transloco }}</p>
					<h4 class="m-0">
						{{ potentialWallet.displayEthAddress }}
					</h4>
				</div>

				<div fxLayout="row" fxLayoutAlign="space-between center">
					<p class="text-grey">{{ "common.solana_address" | transloco }}</p>
					<h4 class="m-0">
						{{ potentialWallet.displaySolanaAddress }}
					</h4>
				</div>
			</div>
		</div>

		<div fxLayout="row" fxLayoutAlign="center center" class="w-full p-4" *ngIf="potentialWallet">
			<button mat-raised-button class="w-full main-button" (click)="goToNextStep()">
				{{ "unlock_wallet.verify_button" | transloco }}
			</button>
		</div>
	</div>
</div>
