<div class="w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<!-- <header class="w-full"></header> -->
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/icons/biglogo.png" alt="" (click)="openFullPage()" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="column" fxLayoutAlign="start center" class="md-card on-intro">
		<ng-container *ngFor="let item of items; let i = index">
			<div
				fxLayout="column"
				fxLayoutAlign="space-between center"
				*ngIf="i === activeIndex"
				[class.active]="i === activeIndex"
				class="carousel-container"
			>
				<div fxLayout="column" fxLayoutAlign="start center">
					<h1 class="main-title">{{ item.title | transloco }}</h1>
					<span>
						{{ item.description | transloco }}
					</span>
				</div>

				<div class="carousel-image mt-4 w-full" fxLayout="row" fxLayoutAlign="center start">
					<img class="w-full" [src]="item.image" [alt]="item.title" *ngIf="i === activeIndex" />
				</div>
			</div>
		</ng-container>

		<form [formGroup]="termsForm" #signUpNgForm="ngForm" class="my-5 w-full">
			<mat-checkbox class="on-checkbox" [formControlName]="'termsAcceptance'">
				{{ "onboarding.accept_terms_1" | transloco }}
				<a href="https://example.com/terms" target="_blank">{{ "onboarding.accept_terms_2" | transloco }}</a>
			</mat-checkbox>
		</form>

		<button mat-raised-button class="w-full my-1 rounded-button main-button" (click)="goToCreateWallet()" [disabled]="!acceptedTerms()">
			{{ "onboarding.create_new_wallet" | transloco }}
		</button>

		<button mat-raised-button class="w-full my-1 rounded-button secondary-button" (click)="goToImportWallet()" [disabled]="!acceptedTerms()">
			{{ "onboarding.import_wallet" | transloco }}
		</button>

		<button mat-raised-button class="w-full my-1 rounded-button secondary-button" [disabled]="!acceptedTerms()" (click)="goToFindWallet()">
			{{ "onboarding.open_wallet" | transloco }}
		</button>
	</div>
	<!-- 
	<div class="onboarding-content" fxLayout="row" fxLayoutAlign="center center">
		<div *ngIf="step" class="onboarding-step-one" fxLayout="column" fxLayoutAlign="start center">
			<h1 class="p-16 bg-blue-700">Let's get started</h1>

			<h1 class="text-3xl font-bold underline">Hello world!</h1>
			<p>Trusted by millions, MetaMask is a secure wallet making the world of web3 accessible to all.</p>
		</div>
	</div> -->
	<!-- <biometrics-general [type]="'createWallet'" [data]="walletCreationForm"> </biometrics-general> -->
</div>

<footer class="w-full pt-10"></footer>
