.onboarding-content {
	background: linear-gradient(170deg, #ffffff 20%, #f7b7b9 40%, #c196f9 70%, #85c6ff 100%);
	// background: linear-gradient(90deg, #f7b7b9 0%, #c196f9 50%, #85c6ff 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.onboarding-step-one {
	width: 400px;
	height: 100%;
	padding: 32px;
	background: white;
	box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.08);
	border-radius: 24px;
	border: 1px rgba(0, 0, 0, 0.35) solid;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	display: inline-flex;
}

h1 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 0px;
}

.on-intro {
	width: 500px;
	min-height: 500px;
	padding: 32px;
	background: white;
	box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.08);
	border-radius: 24px;
	border: 1px rgba(0, 0, 0, 0.35) solid;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	display: inline-flex;
	h1 {
		text-align: center;
	}

	span {
		text-align: center;
	}
}

.on-checkbox a {
	color: #1976d2; /* You might want to match this color with your theme */
}

.carousel-image {
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
	width: 200px !important;
	height: 200px !important;
}

.carousel-container {
	min-height: 390px;
}

.bg-red-700 {
	background-color: rgba(255, 0, 0, 0.698);
}

.rounded-button {
	border-radius: 12px; /* Adjust this value to increase or decrease the roundness */
}

.on-card {
	width: 500px;
	min-height: 500px;
	padding: 32px;
	background: white;
	box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.08);
	border-radius: 24px;
	border: 1px rgba(0, 0, 0, 0.35) solid;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	display: inline-flex;
}

.on-title {
	width: 344px;
	text-align: center;
	color: #1c44f9;
	font-size: 28px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 36px;
}

.on-description {
	width: 344px;
	left: 0px;
	top: 52px;
	position: absolute;
	text-align: center;
	color: #010333;
	font-size: 14px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	word-wrap: break-word;
}
