<div class="zelf-card send-currency" *transloco="let t">
    <div class="send-currency__header">
        <div class="send-currency__col1">
            <button
                (click)="removeTransactionData()"
                [routerLink]="['/home']"
                class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--40"
                mat-flat-button
            >
                <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="send-currency__col2">
            <p class="send-currency__title">{{ t("common.send") }}</p>
        </div>

        <div class="send-currency__col3"></div>
    </div>

    <zelf-loader [diameter]="60" *ngIf="loading"></zelf-loader>

    <div class="zelf-card__content send-currency__content">
        <form class="send-currency__form" [formGroup]="form" [class.hidden]="tokens.length < 5">
            <div class="zelf-input zelf-input--wide">
                <input
                    [placeholder]="t('common.search')"
                    class="zelf-input__control"
                    formControlName="searchFilter"
                    id="searchFilter"
                    name="searchFilter"
                    required
                    type="text"
                />

                <div class="zelf-input__postfix send-currency__search-icon">
                    <ng-container *ngTemplateOutlet="searchIcon"></ng-container>
                </div>
            </div>
        </form>

        <token-item
            (click)="onTokenClick(token)"
            [showFiatBalance]="true"
            [showPrice]="true"
            [token]="token"
            *ngFor="let token of filteredTokens"
        ></token-item>
    </div>
</div>

<ng-template #searchIcon>
    <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M11.76 10.27L17.49 16L16 17.49L10.27 11.76C9.2 12.53 7.91 13 6.5 13C2.91 13 0 10.09 0 6.5C0 2.91 2.91 0 6.5 0C10.09 0 13 2.91 13 6.5C13 7.91 12.53 9.2 11.76 10.27ZM6.5 2C4.01 2 2 4.01 2 6.5C2 8.99 4.01 11 6.5 11C8.99 11 11 8.99 11 6.5C11 4.01 8.99 2 6.5 2Z"
        />
    </svg>
</ng-template>
