@use "../../../styles/variables";

:host {
    width: 100%;
}

.card-container {
    cursor: pointer;
    display: inline-flex;
    gap: 16px;
    height: 88px;
    padding: 12px;
    transition: background 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    border-radius: 22px;

    &:hover {
        background: #a8a8a821;
    }

    @media (max-width: variables.$minSmall) {
        gap: 8px;
        height: 72px;
        padding: 8px 12px;
    }
}

.status-icon-container {
    align-items: center;
    border-radius: 50%;
    display: flex;
    gap: 8px;
    height: 40px;
    justify-content: center;
    width: 40px;

    :is(img) {
        width: 40px;
        object-fit: contain;
    }
}

.status-icon {
    width: 16px;
    height: 16px;
}

.status-icon-inner {
    width: 9.73px;
    height: 9.73px;

    background: black;
}

.text-container {
    gap: 6px;
    display: inline-flex;
    flex: 1 1 auto;
}

.amount-container {
    gap: 10px;
    display: inline-flex;
    flex: 1 1 auto;

    @media (max-width: variables.$minSmall) {
        gap: 8px;
    }
}

.status-text {
    color: #1b1b1f;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    word-wrap: break-word;
}

.date-text {
    text-align: right;
    gap: 6px;
}

.date-green {
    color: #38a62b;
    font-size: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.1px;
    word-wrap: break-word;
}

.date-gray {
    color: #46464f;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    word-wrap: break-word;
}

.token-card-label {
    background: #f0f0f0;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

.token-card {
    &__symbol {
        color: variables.$black;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }

    &__network-info {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;
        align-items: flex-start;
    }

    &__network {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        margin: 0;
    }

    &__network-chip {
        height: 20;
        border-radius: 24px;
        gap: 10px;
        padding: 2px 8px;
        margin: 0;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-align: center;
        vertical-align: middle;
        background-color: variables.$platinum;
        color: variables.$taupeGray;
    }

    &__name {
        margin: 0;
    }

    &__balance {
        color: variables.$gray;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}
