<div class="password-form">
    <div class="form-header">
        <button (click)="onCancel()" mat-flat-button class="zelf-icon-button zelf-icon-button--secondary zelf-icon-button--40">
            <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                />
            </svg>
        </button>
        <h2>{{ "billing.passwords.form.title" | transloco }}</h2>
    </div>

    <div class="form-content">
        <form [formGroup]="passwordForm" #passwordFormRef="ngForm">
            <!-- URL Section -->
            <div class="form-section">
                <label for="url" class="form-label">{{ "billing.passwords.form.website.label" | transloco }}</label>
                <div class="zelf-input zelf-input--wide">
                    <input
                        type="text"
                        id="url"
                        formControlName="url"
                        class="zelf-input__control"
                        [placeholder]="'billing.passwords.form.website.placeholder' | transloco"
                        required
                    />
                </div>
            </div>

            <!-- Email Section -->
            <div class="form-section">
                <label for="email" class="form-label">{{ "billing.passwords.form.email.label" | transloco }}</label>

                <div class="zelf-input zelf-input--wide">
                    <input
                        [placeholder]="'billing.passwords.form.email.placeholder' | transloco"
                        class="zelf-input__control"
                        formControlName="email"
                        id="email"
                        required
                        type="email"
                    />
                </div>
            </div>

            <!-- Password Section -->
            <div class="form-section">
                <label for="password" class="form-label">{{ "billing.passwords.form.password.label" | transloco }}</label>
                <div class="zelf-input zelf-input--wide">
                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="password"
                        formControlName="password"
                        class="zelf-input__control"
                        [placeholder]="'billing.passwords.form.password.placeholder' | transloco"
                        required
                    />
                    <button type="button" class="zelf-icon-button zelf-icon-button--transparent" (click)="togglePasswordVisibility()" tabindex="-1">
                        <svg
                            *ngIf="!showPassword"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#181818"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        <svg
                            *ngIf="showPassword"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#181818"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path
                                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                            ></path>
                            <line x1="1" y1="1" x2="23" y2="23"></line>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Folder Section -->
            <div class="form-section">
                <div class="folder-toggle">
                    <label class="form-label">{{ "billing.passwords.form.folder.label" | transloco }}</label>
                    <div
                        (click)="toggleFolder()"
                        [attr.aria-checked]="passwordForm.get('insideFolder')?.value"
                        [attr.aria-label]="'billing.passwords.form.folder.aria_label' | transloco"
                        [class.zelf-toggle--active]="passwordForm.get('insideFolder')?.value"
                        class="zelf-toggle"
                        role="switch"
                        tabindex="0"
                    >
                        <div class="zelf-toggle__track"></div>
                        <div class="zelf-toggle__thumb"></div>
                    </div>
                </div>

                <div *ngIf="passwordForm.get('insideFolder')?.value" class="folder-input">
                    <div class="zelf-input zelf-input--wide">
                        <input
                            type="text"
                            id="folder"
                            formControlName="folder"
                            class="zelf-input__control"
                            [placeholder]="'billing.passwords.form.folder.placeholder' | transloco"
                        />
                    </div>
                </div>
            </div>

            <!-- Notes Section -->
            <div class="form-section">
                <label for="notes" class="form-label">{{ "billing.passwords.form.notes.label" | transloco }}</label>
                <div class="zelf-input zelf-input--wide zelf-input--textarea">
                    <textarea
                        id="notes"
                        formControlName="notes"
                        class="zelf-input__control"
                        [placeholder]="'billing.passwords.form.notes.placeholder' | transloco"
                        rows="4"
                    ></textarea>
                </div>
            </div>

            <!-- Master Password Section -->
            <div class="form-section" *ngIf="hasMasterPassword">
                <label for="masterPassword" class="form-label">{{ "billing.passwords.form.master_password.label" | transloco }}</label>

                <div class="zelf-input zelf-input--wide">
                    <input
                        [placeholder]="'billing.passwords.form.master_password.placeholder' | transloco"
                        [type]="showMasterPassword ? 'text' : 'password'"
                        class="zelf-input__control"
                        formControlName="masterPassword"
                        id="masterPassword"
                        required
                    />

                    <button
                        type="button"
                        class="zelf-icon-button zelf-icon-button--transparent"
                        (click)="toggleMasterPasswordVisibility()"
                        tabindex="-1"
                    >
                        <ng-container *ngTemplateOutlet="showMasterPassword ? openEye : closedEye"></ng-container>
                    </button>
                </div>
                <small class="form-hint" *ngIf="wallet">{{
                    "billing.passwords.form.master_password.hint" | transloco: { walletName: wallet.name }
                }}</small>
            </div>
        </form>

        <!-- Action Buttons -->
        <div class="form-actions">
            <button class="zelf-button zelf-button--tertiary" (click)="onCancel()">{{ "billing.passwords.form.buttons.cancel" | transloco }}</button>
            <button class="zelf-button zelf-button--primary" (click)="onSave()" [disabled]="!formValid">
                <span>{{ "billing.passwords.form.buttons.save" | transloco }}</span>
                <div class="save-icon">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path d="M13.5 1.5L5.5 9.5L1.5 5.5L0 7L5.5 12.5L15 3L13.5 1.5Z" fill="white" />
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>

<ng-template #openEye>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
        <path
            d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
        />
    </svg>
</ng-template>

<ng-template #closedEye>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
        <path
            d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
        />
    </svg>
</ng-template>
