<div class="dialog">
    <h2 class="dialog__title">{{ this.title }}</h2>

    <p class="dialog__message" *ngIf="this.message">{{ this.message }}</p>

    <div class="dialog__actions">
        <button mat-flat-button class="zelf-button zelf-button--outlined" (click)="onCancel()">{{ this.cancel }}</button>

        <button mat-flat-button class="zelf-button zelf-button--black" (click)="onConfirm()" *ngIf="!this.destructiveButton">
            {{ this.confirm }}
        </button>

        <button mat-flat-button class="zelf-button zelf-button--red" (click)="onConfirm()" *ngIf="this.destructiveButton">{{ this.confirm }}</button>
    </div>
</div>
