@use "../../styles/variables";
@use "../../styles/buttons";

:host {
    display: block;
    padding: calc(32px * var(--zns-space-scale, 1));
}

.dialog {
    &__title {
        font-size: calc(24px * var(--zns-font-scale, 1));
        font-weight: 500;
        margin: 0 0 calc(16px * var(--zns-space-scale, 1));
        font-family: variables.$themeTitleFamily;
        text-transform: uppercase;
        text-align: center;
        line-height: calc(26px * var(--zns-font-scale, 1));
    }

    &__message {
        font-size: calc(16px * var(--zns-font-scale, 1));
        font-family: variables.$themeBodyFamily;
        margin-top: calc(16px * var(--zns-space-scale, 1));
        margin-bottom: calc(8px * var(--zns-space-scale, 1));
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: calc(32px * var(--zns-space-scale, 1));
    }
}
