@import "../../styles/variables";
@import "../../styles/buttons";

:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.welcome-onboarding {
    padding-top: 68px !important;
    padding-bottom: 68px !important;
}

.carousel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    overflow: visible;

    &__item-container {
        min-height: 150px;
    }

    &__subtitle {
        margin-top: 12px;
    }

    &__item {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__progress {
        background-color: $platinum;
        border-radius: 6px;
        height: 6px;
        overflow: hidden;
        position: relative;
        width: 96px;

        &-bar {
            background-color: $primaryColor;
            border-radius: 6px;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
            transition: width 5s;
        }
    }
}
