@use "../../styles/variables";
@use "../../styles/buttons";

:host {
    position: relative;
    display: block;
    padding: 16px;
}

.reserve-done-sheet {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &__exit {
        align-items: center;
        background-color: transparent;
        border-radius: 9999px;
        border: none;
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: center;
        margin: 8px;
        min-height: 48px;
        min-width: 48px;
        outline: none;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 0;
        transition: color 0.3s variables.$smoothBezier, background-color 0.3s variables.$smoothBezier;
        width: 48px;

        svg {
            transition: fill 0.3s variables.$smoothBezier;
            fill: variables.$black;
            height: 16px;
            width: 16px;
        }

        &:hover {
            background-color: #b589f0;
            color: white;

            svg {
                fill: white;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        margin-top: 28px;
        fill: variables.$black;
    }

    &__pretitle {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        color: variables.$black;
        margin: 0;
    }

    &__title {
        font-family: "Menda", "Arial Black", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        margin: 8px 0;
    }

    &__text {
        padding: 0 24px;
        font-size: 14px;
        margin: 0;
        text-align: center;
    }

    &__actions {
        width: 100%;
        margin-top: 16px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
