<div class="h-main w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<div class="home-main" fxLayout="column" fxLayoutAlign="space-between start">
		<div class="w-full" fxLayout="column" fxLayoutAlign="start start">
			<!-- header here -->
			<div class="w-full" fxLayout="row" fxLayoutAlign="start center" class="send-transaction-header">
				<div (click)="cancel()">
					<svg class="ml-2 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="white" />
					</svg>
				</div>

				<div fxLayout="row" fxLayoutAlign="center center" class="w-full">
					<h4 class="m-0">
						{{ "send_transaction.confirmation_step" | transloco }}
					</h4>
				</div>
			</div>
			<!-- end of header -->
			<div class="bridge-qr-bg" fxLayout="row" fxLayoutAlign="center center">
				<img class="bridge-qr-code" src="https://via.placeholder.com/249x249" />
			</div>

			<div class="bridge-text-content">
				<div class="bridge-text">
					<span class="bridge-title">
						{{ "send_transaction.bridge.title" | transloco }}
						<br />
					</span>
					<span class="bridge-description">
						<br />{{ "send_transaction.bridge.description" | transloco }}.<br /><br />{{
							"send_transaction.bridge.description_2" | transloco
						}}
					</span>
				</div>
			</div>

			<div class="bridge-confirm-btn-container w-full">
				<div class="bridge-confirm-btn">
					<div class="bridge-confirm-btn-text">
						{{ "send_transaction.bridge.confirm_button" | transloco }}
					</div>
				</div>
			</div>
		</div>
		<div class="bridge-app-prompt-container">
			<div class="bridge-app-prompt" fxLayout="column" fxLayoutAlign="center center">
				<span class="font-bold">
					{{ "send_transaction.bridge.dont_have_the_app" | transloco }}
				</span>
				<span>
					{{ "send_transaction.bridge.download_here" | transloco }}
				</span>
			</div>
			<div class="bridge-download-btns-container">
				<img src="../../../assets/images/google_play_button.svg" alt="" />
				<!-- <img src="../../../assets/images/app_store_button.svg" alt="" /> -->
			</div>
		</div>
	</div>
</div>
