<div class="stepper-container" fxLayout="column" fxLayoutAlign="start center">
	<div class="zelf-header" *ngIf="!hideHeader">
		<div fxLayout="row" fxLayoutAlign="start center" class="w-full">
			<svg
				*ngIf="!hideBackButton"
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="32"
				viewBox="0 0 10 16"
				fill="none"
				(click)="back()"
				class="cursor-pointer ml-4"
			>
				<path d="M8.29004 16L0.290039 8L8.29004 0L9.71004 1.42L3.13004 8L9.71004 14.58L8.29004 16Z" fill="#181818" />
			</svg>

			<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
				<h2 class="mb-1 mt-2" *ngIf="zelfName">{{ zelfName || session.zelfName }}</h2>

				<div *ngFor="let step of steps; let i = index" class="step-indicator" fxLayout="row" fxLayoutAlign="start start">
					<h4
						class="mt-1"
						*ngIf="step && step.isActive && !step.isStatus"
						[ngClass]="{ 'no-zelf-name-step': !zelfName && session.zelfName }"
					>
						<span>
							<span class="text-grey">{{ i + 1 }} </span>
							of {{ steps.length }}
						</span>
						{{ "steps." + step.label | transloco }}
					</h4>

					<span class="status-label" *ngIf="step.isStatus">
						{{ "steps." + step.label | transloco }}
					</span>
				</div>
			</div>
		</div>
	</div>

	<ng-content select="app-step"></ng-content>
</div>
