<div class="stepper-container" fxLayout="column" fxLayoutAlign="start center">
	<div class="stepper-header w-full">
		<div *ngFor="let step of steps; let i = index" class="step-indicator" fxLayout="row" fxLayoutAlign="start start">
			<div fxLayout="column" fxLayoutAlign="center center">
				<div class="step-number" [ngClass]="{ 'step-number-active': step.isActive, 'step-number-completed': step.isCompleted }">
					{{ i + 1 }}
				</div>
				<div class="step-label">{{ step.label }}</div>
			</div>
		</div>
	</div>
	<ng-content select="app-step"></ng-content>
	<!-- <div class="stepper-navigation">
		<button (click)="back()" [disabled]="currentStep === 0">Back</button>
		<button (click)="next()" [disabled]="currentStep === numberOfSteps - 1">Next</button>
	</div> -->
</div>
