<div class="stepper-container" fxLayout="column" fxLayoutAlign="start center">
	<!-- <div class="stepper-header w-full">
		<div *ngFor="let step of steps; let i = index" class="step-indicator" fxLayout="row" fxLayoutAlign="start start">
			<div fxLayout="column" fxLayoutAlign="center center">
				<div class="step-number" [ngClass]="{ 'step-number-active': step.isActive, 'step-number-completed': step.isCompleted }">
					{{ i + 1 }}
				</div>

				<div class="step-label">{{ "steps." + step.label | transloco }}</div>
			</div>
		</div>
	</div> -->
	<div class="zelf-header">
		<div fxLayout="row" fxLayoutAlign="start center" class="w-full">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 10 16" fill="none">
				<path d="M8.29004 16L0.290039 8L8.29004 0L9.71004 1.42L3.13004 8L9.71004 14.58L8.29004 16Z" fill="#181818" />
			</svg>
			<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
				<h2 class="mb-1">miguel.zelf</h2>

				<h4 class="mt-1"><span>1 of 3</span> SECURITY</h4>
			</div>
		</div>
	</div>
	<ng-content select="app-step"></ng-content>
</div>
