<div fxLayout="column" fxLayoutAlign="center center" class="min-h-[60vh] justify-center p-4 sm:p-1 xs:p-1 w-full">
    <div
        *ngIf="!camera.isLoading && camera.hasPermissions && !camera.isLowQuality"
        class="justify-center w-full"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxLayout="column" fxLayoutAlign="center center" class="justify-center text-center h-20 sm:h-8 xs:h-8 my-2">
            <div *ngIf="errorFace && !response.isLoading" class="biometric__error">
                <div class="biometric__error-title">{{ errorFace.title }}</div>
                <div class="biometric__error-subtitle">{{ errorFace.subtitle }}</div>
            </div>
        </div>

        <div class="relative" [style.width.px]="camera.dimensions.video.width" [style.height.px]="camera.dimensions.video.height">
            <webcam
                (imageCapture)="processImage($event)"
                (initError)="cameraError($event)"
                [allowCameraSwitch]="false"
                [captureImageData]="true"
                [height]="camera.dimensions.video.max.height"
                [imageQuality]="1"
                [trigger]="takePicture$"
                [videoOptions]="camera.configuration"
                [width]="camera.dimensions.video.max.width"
                *ngIf="!response.base64Image"
                #webcam
                mirrorImage="always"
            ></webcam>

            <canvas
                [style.height.px]="response.base64Image ? camera.dimensions.result?.height : camera.dimensions.video.height"
                [style.width.px]="response.base64Image ? camera.dimensions.result?.width : camera.dimensions.video.width"
                #maskResult
                class="absolute top-0 left-0"
            ></canvas>

            <canvas #toSend hidden="true"></canvas>
        </div>
    </div>

    <div class="loader" fxLayout="column" fxLayoutAlign="center center" *ngIf="response.base64Image || camera.isLoading">
        <zelf-loader [diameter]="120"></zelf-loader>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="id-scanning-error-div" *ngIf="!camera.isLoading && camera.isLowQuality">
        <img src="https://cdn.verifik.co/demo/nocameraenabled.svg" alt="" class="id-scanning-no-camera-enabled-img" />

        <h1 class="mt-4">{{ "id_scanning.camera_not_found" | transloco }}</h1>

        <p class="mt-4">
            {{ "id_scanning.camera_not_found_description" | transloco }}
        </p>
    </div>
</div>
