<div *ngIf="!showError" fxLayout="column" fxLayoutAlign="center center" class="min-h-[60vh] justify-center p-4 sm:p-1 xs:p-1 w-full">
	<div
		fxLayout="column"
		fxLayoutAlign="center center"
		class="justify-center w-full"
		*ngIf="!camera.isLoading && camera.hasPermissions && !camera.isLowQuality"
	>
		<div fxLayout="column" fxLayoutAlign="center center" class="justify-center text-center h-20 sm:h-8 xs:h-8 my-2">
			<div *ngIf="errorFace && !response.isLoading">
				<div class="text-3xl font-bold">{{ errorFace.title }}</div>
				<div class="text-gray-600">{{ errorFace.subtitle }}</div>
			</div>
		</div>

		<div class="relative" [style.width.px]="camera.dimensions.video.width" [style.height.px]="camera.dimensions.video.height">
			<webcam
				[height]="camera.dimensions.video.max.height"
				[width]="camera.dimensions.video.max.width"
				[videoOptions]="camera.configuration"
				[imageQuality]="1"
				[captureImageData]="true"
				[allowCameraSwitch]="false"
				[trigger]="takePicture$"
				[mirrorImage]="deviceData.isMobile ? 'never' : 'always'"
				(imageCapture)="proccessImage($event)"
				(initError)="cameraError($event)"
				*ngIf="!response.base64Image"
			></webcam>
			<canvas
				#maskResult
				class="absolute top-0 left-0"
				[style.width.px]="response.base64Image ? camera.dimensions.result?.width : camera.dimensions.video.width"
				[style.height.px]="response.base64Image ? camera.dimensions.result?.height : camera.dimensions.video.height"
			></canvas>
			<canvas #toSend hidden="true"></canvas>
		</div>
	</div>

	<div class="loader" fxLayout="column" fxLayoutAlign="center center" *ngIf="response.base64Image">
		<img src="../../assets/images/full_zelf_logo.svg" alt="" />

		<svg
			version="1.1"
			id="L4"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px"
			y="0px"
			viewBox="0 0 100 100"
			enable-background="new 0 0 0 0"
			xml:space="preserve"
		>
			<circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
				<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
			</circle>
			<circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
				<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" />
			</circle>
			<circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
				<animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" />
			</circle>
		</svg>
	</div>

	<div fxLayout="column" fxLayoutAlign="center center" class="id-scanning-error-div" *ngIf="!camera.isLoading && camera.isLowQuality">
		<img src="https://cdn.verifik.co/demo/nocameraenabled.svg" alt="" class="id-scanning-no-camera-enabled-img" />

		<h1 class="mt-4">{{ "id_scanning.camera_not_found" | transloco }}</h1>

		<p class="mt-4">
			{{ "id_scanning.camera_not_found_description" | transloco }}
		</p>
	</div>
</div>

<div *ngIf="showError && errorContent" class="zelf-card p-4" fxLayout="column" fxLayoutAlign="start center">
	<h2 *ngIf="errorContent.message === 'ERR_LIVENESS_FAILED' || errorContent.message === 'ERR_LIVENESS_FACE_ANGLE_TOO_LARGE'">
		{{ "errors.liveness_failed" | transloco }}
	</h2>

	<img src="../../assets/images/biometric_error.svg" alt="" />

	<p class="text-center" *ngIf="errorContent.message === 'ERR_LIVENESS_FAILED' || errorContent.message === 'ERR_LIVENESS_FACE_ANGLE_TOO_LARGE'">
		{{ "errors.liveness_failed_description" | transloco }}
	</p>

	<p class="text-center">{{ "errors.try_again" | transloco }}</p>
</div>
