<ng-container *transloco="let t">
    <div class="home-header-accounts">
        <button mat-flat-button mat-icon-button class="home-header-accounts__exit" (click)="close()">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.3 0.710703C12.91 0.320703 12.28 0.320703 11.89 0.710703L6.99997 5.5907L2.10997 0.700703C1.71997 0.310703 1.08997 0.310703 0.699971 0.700703C0.309971 1.0907 0.309971 1.7207 0.699971 2.1107L5.58997 7.0007L0.699971 11.8907C0.309971 12.2807 0.309971 12.9107 0.699971 13.3007C1.08997 13.6907 1.71997 13.6907 2.10997 13.3007L6.99997 8.4107L11.89 13.3007C12.28 13.6907 12.91 13.6907 13.3 13.3007C13.69 12.9107 13.69 12.2807 13.3 11.8907L8.40997 7.0007L13.3 2.1107C13.68 1.7307 13.68 1.0907 13.3 0.710703Z"
                />
            </svg>
        </button>

        <div class="zelf-name" (click)="close()" [routerLink]="['/wallet']">
            <h4 class="zelf-name__title" *ngIf="shareables.wallet.publicData">
                {{ shareables.wallet.publicData.zelfName | zelfName }}
            </h4>

            <div class="zelf-name__icon">
                <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.499932 0.473185C0.239932 0.733185 0.239932 1.15319 0.499932 1.41319L3.0866 3.99985L0.499932 6.58652C0.239932 6.84652 0.239932 7.26652 0.499932 7.52652C0.759932 7.78652 1.17993 7.78652 1.43993 7.52652L4.49993 4.46652C4.75993 4.20652 4.75993 3.78652 4.49993 3.52652L1.43993 0.466518C1.1866 0.213185 0.759932 0.213185 0.499932 0.473185Z"
                    />
                </svg>
            </div>
        </div>

        <div class="wallets">
            <div class="wallets__item wallets__item--current" (click)="close()">
                <ng-container *ngTemplateOutlet="walletTemplate; context: { $implicit: wallet }"></ng-container>
            </div>

            <ng-container *ngIf="wallets.length">
                <div class="wallets__item" *ngFor="let otherWallet of wallets" (click)="switchWallet(otherWallet)">
                    <ng-container *ngTemplateOutlet="walletTemplate; context: { $implicit: otherWallet }"></ng-container>
                </div>
            </ng-container>

            <div class="wallets__item" (click)="close()" [routerLink]="['/welcome']">
                <div class="wallets__item-avatar wallets__item-avatar--bg-white">
                    <h3 class="wallets__item-avatar-letter">+</h3>
                </div>

                <p class="wallets__item-name">{{ t("common.purchase") }}</p>
            </div>
        </div>

        <div class="home-header-accounts__actions">
            <button
                (click)="close()"
                [routerLink]="['/manage-domains']"
                class="zelf-button zelf-button--black zelf-button--wide zelf-button--thin"
                mat-flat-button
            >
                {{ t("common.manage_domains") }}
            </button>
        </div>
    </div>

    <ng-template #walletTemplate let-wallet>
        <div
            class="wallets__item-avatar"
            [ngClass]="{
                'wallets__item-avatar--warn': wallet.publicData?.isExpiringSoon,
                'wallets__item-avatar--error': wallet.publicData?.isExpired,
                'wallets__item-avatar--mainnet': wallet.publicData?.type === 'mainnet',
                'wallets__item-avatar--hold': wallet.publicData?.type === 'hold',
            }"
        >
            <h3 class="wallets__item-avatar-letter">{{ wallet.publicData?.zelfName | firstLetter }}</h3>

            <span *ngIf="wallet.publicData?.isExpiringSoon" class="wallets__item-avatar-icon wallets__item-avatar-icon--warn-icon">
                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 15C9.45 15 9 14.55 9 14V10C9 9.45 9.45 9 10 9C10.55 9 11 9.45 11 10V14C11 14.55 10.55 15 10 15ZM11 7H9V5H11V7Z"
                    />
                </svg>
            </span>

            <span *ngIf="wallet.publicData?.isInGracePeriod" class="wallets__item-avatar-icon wallets__item-avatar-icon--error-icon">
                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.24 5.76C13.07 4.59 11.54 4 10 4V10L5.76 14.24C8.1 16.58 11.9 16.58 14.25 14.24C16.59 11.9 16.59 8.1 14.24 5.76ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.58 18 2 14.42 2 10C2 5.58 5.58 2 10 2C14.42 2 18 5.58 18 10C18 14.42 14.42 18 10 18Z"
                    />
                </svg>
            </span>

            <span *ngIf="wallet.publicData?.isFullyExpired" class="wallets__item-avatar-icon wallets__item-avatar-icon--error-icon">
                <svg viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.47 17.5036H17.53C19.07 17.5036 20.03 15.8336 19.26 14.5036L11.73 1.49359C10.96 0.163594 9.04 0.163594 8.27 1.49359L0.739999 14.5036C-0.0300008 15.8336 0.929999 17.5036 2.47 17.5036ZM10 10.5036C9.45 10.5036 9 10.0536 9 9.50359V7.50359C9 6.95359 9.45 6.50359 10 6.50359C10.55 6.50359 11 6.95359 11 7.50359V9.50359C11 10.0536 10.55 10.5036 10 10.5036ZM11 14.5036H9V12.5036H11V14.5036Z"
                    />
                </svg>
            </span>
        </div>

        <p class="wallets__item-name">{{ wallet.publicData?.zelfName | zelfName }}</p>
    </ng-template>
</ng-container>
