@use "../../../styles/variables";
@use "../../../styles/buttons";

:host {
    position: relative;
    display: block;
    padding: 16px;
}

.home-header-accounts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &__exit {
        align-items: center;
        background-color: transparent;
        border-radius: 9999px;
        border: none;
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: center;
        margin: 8px;
        min-height: 48px;
        min-width: 48px;
        outline: none;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        svg {
            transition: fill 0.3s variables.$smoothBezier;
            fill: variables.$black;
            height: 16px;
            width: 16px;
        }

        &:hover {
            background-color: #b589f0;
            color: white;

            svg {
                fill: white;
            }
        }
    }

    &__actions {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.zelf-name {
    user-select: none;
    cursor: pointer;
    align-items: center;
    color: variables.$black;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    height: 42px;
    border-radius: 36px;
    padding: 0 16px;
    margin: 42px auto 0;
    transition:
        color 0.3s variables.$smoothBezier,
        background-color 0.3s variables.$smoothBezier;

    svg {
        fill: variables.$black;
        transition: fill 0.3s variables.$smoothBezier;
    }

    &:hover {
        background-color: #b589f0;
        color: white;

        svg {
            fill: white;
        }

        .zelf-name__icon {
            background-color: #b589f0;
        }
    }

    svg {
        fill: variables.$black;
        transition: fill 0.3s variables.$smoothBezier;
    }

    &__title {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        margin-right: 2px;
        word-wrap: break-word;

        @media (max-width: variables.$minSmall) {
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__icon {
        height: 14px;
        width: 14px;
        border-radius: 14px;
        background-color: variables.$antiFlashWhite;
        align-items: center;
        display: inline-flex;
        justify-content: center;

        svg {
            fill: variables.$black;
        }
    }
}

.wallets {
    user-select: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
    overflow-x: auto;
    padding: 16px;
    box-sizing: border-box;

    &__item {
        background-color: variables.$antiFlashWhite;
        border-radius: 8px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 16px;
        cursor: pointer;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;
        box-sizing: border-box;

        &:hover {
            background-color: #b589f0;

            .wallets__item-avatar {
                background-color: black;
                transition:
                    color 0.3s variables.$smoothBezier,
                    background-color 0.3s variables.$smoothBezier;

                &--bg-white {
                    background-color: black;
                    color: white;
                }
            }

            .wallets__item-name {
                color: white;
                transition: color 0.3s variables.$smoothBezier;
            }
        }

        &--current {
            background-color: variables.$platinum;
            border: 1px solid variables.$taupeGray;
        }

        &-avatar {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 72px;
            width: 72px;
            border-radius: 72px;
            color: white;
            box-sizing: border-box;
            transition:
                color 0.3s variables.$smoothBezier,
                background-color 0.3s variables.$smoothBezier;

            &--bg-white {
                background-color: white;
                color: black;
            }

            &--warn {
                border: 4px solid variables.$warning;
            }

            &--error {
                border: 4px solid variables.$error;
            }

            &--mainnet {
                background-color: variables.$black;
            }

            &--hold {
                background-color: variables.$gray;
            }

            &-letter {
                font-family: "Menda", sans-serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                text-transform: uppercase;
                margin: 0;
            }

            &-icon {
                position: absolute;
                bottom: -10px;
                right: -10px;
                height: 32px;
                width: 32px;
                border: 1px solid variables.$white;
                border-radius: 32px;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    height: 20px;
                    width: 20px;
                }

                &--warn-icon {
                    background-color: variables.$warning;

                    svg {
                        fill: variables.$white;
                    }
                }

                &--error-icon {
                    background-color: variables.$error;

                    svg {
                        fill: variables.$white;
                    }
                }
            }
        }

        &-name {
            font-size: 12px;
            font-weight: 600;
            color: variables.$black;
            margin-top: 4px;
            margin-bottom: 0;
        }
    }
}
