@use "../styles/variables";

:host {
    margin-top: 16px;
    display: block;
    width: 100%;
}

.password-strength {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid variables.$platinum;

    &__bar-label {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: variables.$gray;
        margin-bottom: 8px;
        margin-top: 0;
    }

    &__bar-container {
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid variables.$frenchGray;
    }

    &__bar {
        box-sizing: border-box;
        background: variables.$antiFlashWhite;
        border-radius: 4px;
        transition:
            width 0.3s variables.$smoothBezier,
            background 0.3s variables.$smoothBezier;
        height: 8px;
        overflow: hidden;
        position: relative;

        &--weak {
            background: variables.$error;
        }

        &--medium {
            background: variables.$info;
        }

        &--strong {
            background: variables.$correct;
        }
    }

    &__label {
        margin-top: 8px;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;

        &--weak {
            color: variables.$error;
        }

        &--medium {
            color: variables.$info;
        }

        &--strong {
            color: variables.$correct;
        }
    }
}

.expandable {
    margin-top: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid variables.$frenchGray;

    &__label {
        min-height: 40px;
        box-sizing: border-box;
        cursor: pointer;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        color: variables.$gray;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px 8px;
        transition: color 0.3s variables.$smoothBezier;

        svg {
            transform: rotate(180deg);
            transition: transform 0.3s variables.$smoothBezier;
            fill: variables.$gray;
        }

        &--active {
            color: variables.$black;

            svg {
                transform: rotate(0deg);
                fill: variables.$black;
            }
        }
    }

    &__text {
        margin: 0;
    }

    &__content {
        box-sizing: border-box;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s variables.$smoothBezier;

        &--active {
            max-height: 300px;
        }
    }

    &__inner-content {
        box-sizing: border-box;
        padding: 0 24px;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1px;
    }
}
