@use "../../styles/variables";
@use "../../styles/buttons";

.language {
    &__button-content {
        font-weight: 600;
        font-size: 14px;
        gap: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .language__flag {
            object-fit: cover;
            width: 24px;
            height: 24px;
            border-radius: 24px;
        }
    }

    &__flag {
        object-fit: cover;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        margin-right: 0.2rem;
    }
}

@media screen and (max-width: variables.$medium) {
    .language {
        &__text {
            display: none !important;
        }
    }
}
