.word-picker-container {
	width: 500px;
	min-height: 500px;
	padding: 32px;
	background: white;
	box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.08);
	border-radius: 24px;
	border: 1px rgba(0, 0, 0, 0.35) solid;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	display: inline-flex;
}

.word-picker-content {
	height: 516px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.word-picker-content-d {
	align-self: stretch;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 48px;
	display: flex;
}

.words-picker-title {
	width: 344px;
	text-align: center;
	color: black;
	font-size: 28px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 36px;
}

.words-picker-subtitle {
	width: 344px;
	text-align: center;
	color: black;
	font-size: 22px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 36px;
}

.words-picker-description {
	width: 80%;
	margin-top: 12px;
	text-align: center;
	color: #010333;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	word-wrap: break-word;
}
