@use "./variables";

.zelf-button-external-link {
    display: block;

    &--wide {
        width: 100%;
    }
}

.zelf-button {
    align-items: center;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
    height: 56px;
    justify-content: center;
    outline: none;
    padding: 8px 24px;
    text-align: center;
    user-select: none;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &__text {
        &--margin-right {
            margin-right: 1rem;
        }
    }

    &--hyperlink {
        background-color: transparent;
        color: variables.$gray;
        font-size: 14px;
        font-weight: 500;
        border-radius: 9999px;
        padding: 8px 16px;
        transition:
            color 0.2s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &--small {
            font-size: 11px;
        }

        svg {
            fill: variables.$gray;
        }

        &:hover {
            color: variables.$black;
            background-color: variables.$platinum;

            svg {
                fill: variables.$black;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            color: variables.$taupeGray !important;

            svg {
                fill: variables.$taupeGray;
            }
        }
    }

    &--thin {
        border-radius: 8px;
        padding: 12px 16px;
    }

    &--wide {
        width: 100%;

        &.zelf-button--hyperlink {
            border-radius: 16px;
        }
    }

    &--black {
        background-color: variables.$black !important;
        color: variables.$white !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &:active {
            background-color: variables.$taupeGray !important;
        }

        &:hover {
            background-color: variables.$secondaryColor !important;
        }

        svg {
            fill: variables.$white;
        }

        mat-spinner svg {
            fill: variables.$white !important;
            stroke: variables.$white !important;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: variables.$gray !important;
            color: variables.$white !important;

            mat-spinner svg {
                fill: variables.$black !important;
                stroke: variables.$black !important;
            }
        }
    }

    &--anti-flash-white {
        background-color: variables.$antiFlashWhite !important;
        color: variables.$black !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        svg {
            fill: variables.$black;
        }

        &:focus,
        &:hover {
            background-color: variables.$secondaryColor !important;
            color: white;

            svg {
                fill: variables.$white;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: variables.$platinum !important;

            svg {
                fill: variables.$frenchGray;
            }

            mat-spinner svg {
                fill: variables.$gray !important;
                stroke: variables.$gray !important;
            }
        }
    }

    &--white {
        background-color: variables.$white !important;
        color: variables.$black !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &:focus,
        &:hover {
            background-color: variables.$antiFlashWhite !important;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: variables.$antiFlashWhite !important;
            color: variables.$black !important;

            mat-spinner svg {
                fill: variables.$gray !important;
                stroke: variables.$gray !important;
            }
        }

        svg {
            fill: variables.$black;
        }

        mat-spinner svg {
            fill: variables.$black !important;
            stroke: variables.$black !important;
        }
    }

    &--outlined {
        border: 1px solid variables.$black !important;
        background-color: variables.$white !important;
        color: variables.$black !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &:focus,
        &:hover {
            background-color: variables.$platinum !important;
        }

        &[disabled] {
            cursor: not-allowed;
            color: variables.$gray !important;
        }

        svg {
            fill: variables.$black;
        }
    }

    &--red {
        border: none !important;
        background-color: transparent !important;
        color: variables.$error !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &:focus,
        &:hover {
            background-color: variables.$errorLight !important;
        }

        &[disabled] {
            cursor: not-allowed;
            color: variables.$gray !important;
        }

        svg {
            fill: variables.$error;
        }
    }

    &--error {
        background-color: variables.$errorLight !important;
        color: variables.$error !important;

        svg {
            fill: variables.$error !important;
        }
    }

    &--success {
        background-color: variables.$correctLight !important;
        color: variables.$correct !important;

        svg {
            fill: variables.$correct !important;
        }
    }

    &--no-fill {
        svg {
            fill: none !important;
        }

        &:focus,
        &:hover,
        &[disabled] {
            svg {
                fill: none !important;
            }
        }
    }

    &--pill {
        border-radius: 9999px;
        min-height: 0;
        min-width: 0;
        padding: 4px 12px;
    }
}

.zelf-icon-button {
    font-family: "Poppins", Arial, sans-serif;
    align-items: center;
    background-color: variables.$antiFlashWhite !important;
    border-radius: 56px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    gap: 16px;
    height: 56px;
    justify-content: center;
    min-height: 56px;
    min-width: 56px;
    outline: none;
    transition:
        color 0.3s variables.$smoothBezier,
        background-color 0.3s variables.$smoothBezier;
    user-select: none;
    width: 56px;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &.zelf-icon-button--border-soft {
        border-radius: 16px;
    }

    svg {
        transition: fill 0.3s variables.$smoothBezier;
        fill: variables.$black;
        height: 24px;
        width: 24px;
    }

    &:hover {
        background-color: variables.$secondaryColor !important;
        color: white;

        svg {
            fill: white;
        }
    }

    &--border-soft {
        border-radius: 16px;
    }

    &--40 {
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        width: 40px;
        border-radius: 40px;
        padding: 0 8px;

        &.zelf-icon-button--border-soft {
            border-radius: 14px;
        }

        svg {
            height: 20px;
            width: 20px;
        }
    }

    &--hyperlink {
        background-color: transparent;
        color: variables.$gray;
        font-size: 14px;
        font-weight: 500;
        border-radius: 9999px;
        padding: 8px 16px;
        transition:
            color 0.2s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &--small {
            font-size: 11px;
        }

        svg {
            fill: variables.$gray;
        }

        &:hover {
            color: variables.$black;
            background-color: variables.$platinum;

            svg {
                fill: variables.$black;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            color: variables.$taupeGray !important;

            svg {
                fill: variables.$taupeGray;
            }

            mat-spinner svg {
                fill: variables.$taupeGray !important;
                stroke: variables.$taupeGray !important;
            }
        }
    }

    &--black {
        background-color: variables.$black !important;
        color: variables.$white !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        &:active {
            background-color: variables.$taupeGray !important;
        }

        &:hover {
            background-color: variables.$gray !important;
        }

        svg {
            fill: variables.$white;
        }

        mat-spinner svg {
            fill: variables.$white !important;
            stroke: variables.$white !important;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: variables.$platinum !important;

            svg {
                fill: variables.$frenchGray;
            }

            mat-spinner svg {
                fill: variables.$black !important;
                stroke: variables.$black !important;
            }
        }
    }

    &--anti-flash-white {
        background-color: variables.$antiFlashWhite !important;
        color: variables.$black !important;
        transition:
            color 0.3s variables.$smoothBezier,
            background-color 0.3s variables.$smoothBezier;

        svg {
            fill: variables.$black;
        }

        &:focus,
        &:hover {
            background-color: variables.$secondaryColor !important;
            color: white;

            svg {
                fill: variables.$white;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: variables.$platinum !important;

            svg {
                fill: variables.$frenchGray;
            }

            mat-spinner svg {
                fill: variables.$gray !important;
                stroke: variables.$gray !important;
            }
        }
    }

    &--transparent {
        background-color: transparent !important;
        color: variables.$black !important;

        svg {
            fill: variables.$black;
        }

        &:focus,
        &:hover {
            background-color: variables.$platinum !important;
        }

        &[disabled] {
            cursor: not-allowed;
            color: variables.$gray !important;

            svg {
                fill: variables.$frenchGray;
            }
        }
    }

    &--no-fill {
        svg {
            fill: none !important;
        }

        &:focus,
        &:hover,
        &[disabled] {
            svg {
                fill: none !important;
            }
        }
    }

    &--text {
        width: auto !important;
        min-width: initial !important;
    }

    &--error {
        background-color: variables.$errorLight !important;
        color: variables.$error !important;

        svg {
            fill: variables.$error !important;
        }
    }

    &--success {
        background-color: variables.$correctLight !important;
        color: variables.$correct !important;

        svg {
            fill: variables.$correct !important;
        }
    }

    &--pill {
        border-radius: 9999px;
        height: auto;
        min-height: 0;
        min-width: 0;
        padding: 4px 12px;
        width: auto;
    }
}
