.zelf-button-external-link {
    display: block;

    &--wide {
        width: 100%;
    }
}

.zelf-button {
    align-items: center;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 800;
    gap: 8px;
    height: 56px;
    justify-content: center;
    outline: none;
    padding: 8px;
    text-align: center;
    user-select: none;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &__text {
        &--margin-right {
            margin-right: 1rem;
        }
    }

    &--hyperlink {
        background-color: transparent;
        color: $gray;
        font-size: 14px;
        font-weight: 500;
        border-radius: 9999px;
        padding: 8px 16px;
        transition: color 0.2s $smoothBezier, background-color 0.3s $smoothBezier;

        &--small {
            font-size: 11px;
        }

        svg {
            fill: $gray;
        }

        &:hover {
            color: $black;
            background-color: $platinum;

            svg {
                fill: $black;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            color: $taupeGray !important;

            svg {
                fill: $taupeGray;
            }
        }
    }

    &--thin {
        border-radius: 8px;
        padding: 12px 16px;
    }

    &--wide {
        width: 100%;

        &.zelf-button--hyperlink {
            border-radius: 16px;
        }
    }

    &--black {
        background-color: $black !important;
        color: $white !important;
        transition: color 0.3s $smoothBezier, background-color 0.3s $smoothBezier;

        &:focus,
        &:hover {
            background-color: $gray !important;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: $gray !important;
            color: $white !important;
        }

        svg {
            fill: $white;
        }
    }

    &--white {
        background-color: $white !important;
        color: $black !important;
        transition: color 0.3s $smoothBezier, background-color 0.3s $smoothBezier;

        &:focus,
        &:hover {
            background-color: $antiFlashWhite !important;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: $antiFlashWhite !important;
            color: $black !important;
        }

        svg {
            fill: $black;
        }
    }

    &--outlined {
        border: 1px solid $black !important;
        background-color: $white !important;
        color: $black !important;
        transition: color 0.3s $smoothBezier, background-color 0.3s $smoothBezier;

        &:focus,
        &:hover {
            background-color: $platinum !important;
        }

        &[disabled] {
            cursor: not-allowed;
            color: $gray !important;
        }

        svg {
            fill: $black;
        }
    }

    &--error {
        background-color: $errorLight !important;
        color: $error !important;

        svg {
            fill: $error !important;
        }
    }

    &--success {
        background-color: $correctLight !important;
        color: $correct !important;

        svg {
            fill: $correct !important;
        }
    }

    &--no-fill {
        svg {
            fill: none !important;
        }

        &:focus,
        &:hover,
        &[disabled] {
            svg {
                fill: none !important;
            }
        }
    }
}

.zelf-icon-button {
    align-items: center;
    background-color: $antiFlashWhite !important;
    border-radius: 56px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    gap: 16px;
    height: 56px;
    justify-content: center;
    min-height: 56px;
    min-width: 56px;
    outline: none;
    transition: color 0.3s $smoothBezier, background-color 0.3s $smoothBezier;
    user-select: none;
    width: 56px;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &.zelf-icon-button--border-soft {
        border-radius: 16px;
    }

    svg {
        transition: fill 0.3s $smoothBezier;
        fill: $black;
    }

    &:hover {
        background-color: #b589f0 !important;
        color: white;

        svg {
            fill: white;
        }
    }

    &--border-soft {
        border-radius: 16px;
    }

    &--40 {
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        width: 40px;
        border-radius: 40px;

        &.zelf-icon-button--border-soft {
            border-radius: 14px;
        }
    }

    &--black {
        background-color: $black !important;
        color: $white !important;
        transition: color 0.3s $smoothBezier, background-color 0.3s $smoothBezier;

        svg {
            fill: $white;
        }

        &:focus,
        &:hover {
            background-color: $gray !important;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: $platinum !important;

            svg {
                fill: $frenchGray;
            }
        }
    }

    &--anti-flash-white {
        background-color: $antiFlashWhite !important;
        color: $black !important;

        svg {
            fill: $black;
        }

        &:focus,
        &:hover {
            background-color: #b589f0 !important;
            color: white;

            svg {
                fill: $white;
            }
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: $platinum !important;

            svg {
                fill: $frenchGray;
            }
        }
    }

    &--transparent {
        background-color: transparent !important;
        color: $black !important;

        svg {
            fill: $black;
        }

        &:focus,
        &:hover {
            background-color: $platinum !important;
        }

        &[disabled] {
            cursor: not-allowed;
            color: $gray !important;

            svg {
                fill: $frenchGray;
            }
        }
    }

    &--no-fill {
        svg {
            fill: none !important;
        }

        &:focus,
        &:hover,
        &[disabled] {
            svg {
                fill: none !important;
            }
        }
    }

    &--error {
        background-color: $errorLight !important;
        color: $error !important;

        svg {
            fill: $error !important;
        }
    }

    &--success {
        background-color: $correctLight !important;
        color: $correct !important;

        svg {
            fill: $correct !important;
        }
    }
}
