@use "@angular/material" as mat;
@use "./variables";

html {
    @include mat.theme(
        (
            typography: Poppins,
        )
    );
}

@include mat.dialog-overrides(
    (
        container-max-width: variables.$minSmall,
    )
);

@include mat.menu-overrides(
    (
        container-color: variables.$white,
        item-hover-state-layer-color: variables.$antiFlashWhite,
    )
);

@include mat.icon-button-overrides(
    (
        icon-size: 16px,
        icon-color: variables.$black,
        disabled-icon-color: variables.$gray,
    )
);

@include mat.menu-overrides(
    (
        item-with-icon-leading-spacing: 24px,
        item-with-icon-trailing-spacing: 24px,
    )
);
