$primaryColor: #0e26ff;
$primaryLight: #daddfa;
$secondaryColor: #ff5721;
$secondaryColorLight: #f6e5e0;

$correct: #1ea446;
$correctDark: #0f5223;
$correctLight: #e7f8ed;

$error: #dc362e;
$errorDark: #601410;
$errorLight: #fceeee;

$warning: #de6800;
$warningDark: #4a210a;
$warningLight: #ffeee9;

$info: #3998d3;
$infoDark: #004a77;
$infoLight: #ecf3fe;

$black: #181818;
$gray: #73777f;
$taupeGray: #96939e;
$frenchGray: #c3c6cf;
$platinum: #e3e3e3;
$antiFlashWhite: #eeedf1;
$seaSalt: #f9f9fc;
$white: #ffffff;

$smoothBezier: cubic-bezier(0.25, 0.4, 0.7, 1);

$maxExtraSmall: 595px;
$minSmall: 600px;
$medium: 768px;
$large: 889px;
$computers: 1200px;
