$primaryColor: #0e26ff;
$secondaryColor: #ff5721;
$black: #181818;
$gray: #73777f;
$taupeGray: #96939e;
$frenchGray: #c3c6cf;
$platinum: #e3e3e3;
$antiFlashWhite: #eeedf1;
$seaSalt: #f9f9fc;
$white: #ffffff;
$primaryLight: #ffeee9;
$errorDark: #601410;
$error: #dc362e;
$errorLight: #fceeee;
$correctDark: #0f5223;
$correct: #1ea446;
$correctLight: #e7f8ed;
$infoDark: #004a77;
$info: #3998d3;
$infoLight: #ecf3fe;

$smoothBezier: cubic-bezier(0.25, 0.4, 0.7, 1);

$maxExtraSmall: 595px;
$minSmall: 600px;
$medium: 768px;
$large: 889px;
$computers: 1200px;
