<div class="password-strength" *transloco="let t">
    <p class="password-strength__bar-label">{{ t("security.password_strength_label") }}</p>

    <div class="password-strength__bar-container">
        <div
            class="password-strength__bar"
            [style.width]="passwordStrengthPercentage + '%'"
            [ngClass]="{
                'password-strength__bar--weak': strength < 8,
                'password-strength__bar--medium': strength >= 8 && strength < 13,
                'password-strength__bar--strong': strength >= 13,
            }"
        ></div>
    </div>

    <div
        class="password-strength__label"
        [ngClass]="{
            'password-strength__label--weak': strength < 8,
            'password-strength__label--medium': strength >= 8 && strength < 13,
            'password-strength__label--strong': strength >= 60,
        }"
    >
        <span *ngIf="strength === 0">&nbsp;</span>
        <span *ngIf="strength < 8 && strength > 0">{{ t("security.weak") }}</span>
        <span *ngIf="strength >= 8 && strength < 13">{{ t("security.medium") }}</span>
        <span *ngIf="strength >= 13">{{ t("security.strong") }}</span>
    </div>

    <div class="expandable">
        <div (click)="toggleExpand()" class="expandable__label" [ngClass]="{ 'expandable__label--active': isExpanded }">
            <p class="expandable__text">{{ t("security.password_parameters_title") }}</p>

            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.1251 6.99953L6.0051 3.11953L9.8851 6.99953C10.2751 7.38953 10.9051 7.38953 11.2951 6.99953C11.6851 6.60953 11.6851 5.97953 11.2951 5.58953L6.7051 0.999531C6.3151 0.609531 5.6851 0.609531 5.2951 0.999531L0.705098 5.58953C0.315098 5.97953 0.315098 6.60953 0.705098 6.99953C1.0951 7.37953 1.7351 7.38953 2.1251 6.99953Z"
                />
            </svg>
        </div>

        <div class="expandable__content" [ngClass]="{ 'expandable__content--active': isExpanded }">
            <div class="expandable__inner-content">
                <p [innerHTML]="t('security.password_parameters')"></p>
            </div>
        </div>
    </div>
</div>
