@use "../../../styles/variables";
@use "../../../styles/buttons";

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.home-header {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 76px;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;

    &__title-container {
        user-select: none;
        cursor: pointer;
        align-self: stretch;
        padding: 12px 16px 12px 24px;
        background: white;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
        border-radius: 32px;
        outline: 1px #eeedf1 solid;
        outline-offset: -1px;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        display: inline-flex;
        transition:
            color 0.2s variables.$smoothBezier,
            background-color 0.2s variables.$smoothBezier,
            box-shadow 0.2s variables.$smoothBezier;

        &:hover {
            background-color: variables.$secondaryColor;
            color: white;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);

            .home-header__text {
                color: white;
            }

            .home-header__icon {
                svg {
                    fill: white;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    &__text {
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: #181818;
        font-size: 14px;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.1px;
        word-wrap: break-word;
        margin: 0;
        transition: color 0.2s variables.$smoothBezier;

        @media (max-width: variables.$minSmall) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
            fill: #181818;
            transition: fill 0.2s variables.$smoothBezier;
        }
    }

    &__container {
        padding: 0 8px;
    }

    &__button {
        align-items: center;
        background-color: white;
        border-radius: 36px;
        border: none;
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        height: 36px;
        justify-content: center;
        overflow: hidden;
        stroke: #858585;
        transition:
            background-color 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
            stroke 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 36px;

        &:hover,
        &:focus {
            stroke: #b589f0;
            background: #f0d3d4;
        }
        &:active {
            stroke: #b589f0;
            background-color: #858585;
        }
    }

    &__left {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    &__center {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__right {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
}

.mat-menu-item-text {
    position: relative;
    bottom: 6px;
    left: 3px;
}
