@use "../../styles/variables";
@use "../../styles/buttons";

:host {
    display: block;
    width: 100%;
}

.expandable {
    width: 100%;
    box-sizing: border-box;

    &__label {
        min-height: calc(40px * var(--zns-space-scale, 1));
        box-sizing: border-box;
        cursor: pointer;
        font-family: variables.$themeBodyFamily;
        font-weight: 500;
        font-size: calc(14px * var(--zns-font-scale, 1));
        line-height: calc(20px * var(--zns-font-scale, 1));
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        color: variables.$themeTextSecondary;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(8px * var(--zns-space-scale, 1)) calc(24px * var(--zns-space-scale, 1)) calc(8px * var(--zns-space-scale, 1));
        transition: color 0.3s variables.$smoothBezier;

        svg {
            transform: rotate(180deg);
            transition: transform 0.3s variables.$smoothBezier;
            fill: variables.$themeTextSecondary;
        }

        &--active {
            color: variables.$black;

            svg {
                transform: rotate(0deg);
                fill: variables.$black;
            }
        }
    }

    &__text {
        margin: 0;
    }

    &__content {
        box-sizing: border-box;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;

        &--active {
            max-height: calc(128px * var(--zns-space-scale, 1));
        }
    }

    &__inner-content {
        box-sizing: border-box;
        padding: calc(16px * var(--zns-space-scale, 1));
    }
}

.zelf-input {
    position: relative;
    margin-bottom: calc(16px * var(--zns-space-scale, 1));

    &--wide {
        width: 100%;
    }
}

.zelf-message {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 16px;

    &--success {
        background-color: rgba(30, 164, 70, 0.08);
    }

    &--error {
        background-color: rgba(220, 54, 46, 0.08);
    }

    p {
        margin: 0 0 0 8px;
    }
}
