<div class="zelf-card" *transloco="let t">
    <div class="zelf-activity__header">
        <div class="zelf-activity__col1">
            <button mat-flat-button class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--40" [routerLink]="['/home']">
                <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="zelf-activity__col2">
            <p class="zelf-activity__title">{{ t("common.activity") }}</p>
        </div>

        <div class="zelf-activity__col3"></div>
    </div>

    <div class="zelf-card__content">
        <div class="zelf-activity__tabs">
            <div class="animated-tabs">
                <div
                    class="animated-tabs__switch"
                    [ngClass]="{
                        'animated-tabs__switch--left': tab === 'history',
                        'animated-tabs__switch--right': tab === 'pending'
                    }"
                >
                    <div (click)="setTab('history')" [ngClass]="{ 'animated-tab--active': tab === 'history' }" class="animated-tab">
                        <span>{{ "activity.history" | transloco }}</span>
                    </div>

                    <div (click)="setTab('pending')" [ngClass]="{ 'animated-tab--active': tab === 'pending' }" class="animated-tab">
                        <span>{{ "activity.pending" | transloco }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="zelf-activity__content">
            <zelf-history *ngIf="tab === 'history'"></zelf-history>
            <zelf-pending *ngIf="tab === 'pending'"></zelf-pending>
        </div>
    </div>
</div>
