@use "../../styles/variables";
@use "../../styles/buttons";
@use "../../styles/animations";

:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.zelf-activity {
    width: 100%;
    max-width: var(--zns-card-width, 536px);
    min-height: var(--zns-card-min-height, 768px);

    &__card-content {
        justify-content: flex-start;
    }

    &__content {
        flex: 1 1 auto;
        position: relative;
        width: 100%;
    }

    &__header {
        align-content: center;
        column-gap: calc(12px * var(--zns-space-scale, 1));
        display: grid;
        gap: calc(24px * var(--zns-space-scale, 1));
        grid-template-columns: repeat(10, 1fr);
        justify-content: start;
        width: 100%;
    }

    &__col1,
    &__col3 {
        grid-column: span 3;
        display: flex;
        align-items: center;
    }

    &__col1 {
        justify-content: start;
    }

    &__col2 {
        grid-column: span 4;
        text-align: center;
        align-items: center;
    }

    &__col3 {
        justify-content: end;
    }

    &__title {
        font-family: variables.$themeTitleFamily;
        font-weight: 500;
        font-size: calc(24px * var(--zns-font-scale, 1));
        line-height: calc(20px * var(--zns-font-scale, 1));
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        color: variables.$themeText;
    }

    &__loader {
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 1;
    }

    &__tabs {
        margin-top: calc(16px * var(--zns-space-scale, 1));
        width: 100%;
    }
}
