<div fxLayout="column" fxLayoutAlign="center center" class="min-h-[60vh] justify-center p-4 sm:p-1 xs:p-1 w-full">
    <smart-liveness
        (onFaceScan)="onFaceScan($event)"
        [retry]="retrySubject.asObservable()"
        [successfulUpload]="successfulUploadSubject.asObservable()"
    ></smart-liveness>
</div>

<ng-template #errorDialog>
    <mat-dialog-content class="error-dialog__content">
        <h4 class="error-dialog__title">
            {{ "smart_liveness.errors.error_title" | transloco }}
        </h4>

        <p class="error-dialog__text">{{ errorContent }}</p>
    </mat-dialog-content>

    <mat-dialog-actions class="error-dialog__actions">
        <button (click)="goBack()" class="secondary-button secondary-button--width-auto">
            {{ "smart_liveness.cancel" | transloco }}
        </button>

        <button class="main-button main-button--width-auto" mat-dialog-close>
            {{ "smart_liveness.try_again" | transloco }}
        </button>
    </mat-dialog-actions>
</ng-template>
