.mat-menu-panel {
    position: absolute;
    max-width: 300px !important;  // Adjust as necessary for your design
    max-height: 500px !important; // Adjust as necessary for your design
    background-color: yellow;
}