<div class="zelf-card send-confirm" *transloco="let t">
    <ng-container *ngIf="!loading">
        <div class="send-confirm__header">
            <div class="send-confirm__col1">
                <button (click)="goBack()" mat-flat-button class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--40">
                    <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                        />
                    </svg>
                </button>
            </div>

            <div class="send-confirm__col2">
                <p class="send-confirm__title">{{ showFeeInfo ? t("send.transaction_settings") : t("common.transfer") }}</p>
            </div>

            <div class="send-confirm__col3"></div>
        </div>

        <form class="send-confirm__form" [formGroup]="form" *ngIf="!showFeeInfo">
            <div class="zelf-card__content zelf-card__content--grow">
                <div class="send-confirm__total">
                    <div class="zelf-chip">{{ t("common.amount") }}</div>

                    <div class="send-confirm__price-amount-container">
                        <h2 class="send-confirm__price">{{ transactionData.amount | number: "1.1-18" }}</h2>

                        <p class="send-confirm__price-currency">{{ transactionData.symbol }}</p>
                    </div>

                    <p class="send-confirm__price-currency">~{{ fiatPrice | currency: "USD" : "symbol" : "1.2-8" }}</p>
                </div>

                <div class="send-confirm__zelf-name-display">
                    <div class="zelf-chip" *ngIf="transactionData.sender.zelfName">{{ transactionData.sender.zelfName | uppercase }}</div>

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M21.2544 11.65L18.4644 8.86003C18.1444 8.54003 17.6044 8.76003 17.6044 9.21003V11H3.60437C3.05437 11 2.60437 11.45 2.60437 12C2.60437 12.55 3.05437 13 3.60437 13H17.6044V14.79C17.6044 15.24 18.1444 15.46 18.4544 15.14L21.2444 12.35C21.4444 12.16 21.4444 11.84 21.2544 11.65Z"
                            fill="#181818"
                        />
                    </svg>

                    <div class="zelf-chip">
                        <ng-container *ngIf="transactionData.receiver.zelfName">{{ transactionData.receiver.zelfName | uppercase }}</ng-container>
                        <ng-container *ngIf="!transactionData.receiver.zelfName">{{ t("common.unknown") | uppercase }}</ng-container>
                    </div>
                </div>

                <div class="send-confirm__content">
                    <div class="send-confirm__summary">
                        <div class="zelf-action-row">
                            <p class="send-confirm__label">{{ t("common.from") }}</p>

                            <p class="send-confirm__value">{{ transactionData.sender.address | addressMask }}</p>
                        </div>

                        <div class="zelf-action-row">
                            <p class="send-confirm__label">{{ t("common.withdrawal_network") }}</p>

                            <p class="send-confirm__value">{{ transactionData.tokenType }}</p>
                        </div>

                        <div class="zelf-action-row">
                            <p class="send-confirm__label">{{ t("common.address") }}</p>

                            <p class="send-confirm__value send-confirm__value--address">{{ transactionData.receiver.address }}</p>
                        </div>

                        <div class="zelf-action-row">
                            <p class="send-confirm__label">{{ t("common.coin") }}</p>

                            <p class="send-confirm__value">{{ transactionData.symbol }}</p>
                        </div>

                        <div
                            (click)="(transactionData.network === 'bitcoin' && openFeeInfo()) || null"
                            [ngClass]="{ 'zelf-action-row--clickable': transactionData.network === 'bitcoin' }"
                            class="zelf-action-row"
                        >
                            <p class="send-confirm__label">{{ t("common.fee") }}</p>

                            <div class="send-confirm__value send-confirm__value-row">
                                <p class="send-confirm__value send-confirm__value--col send-confirm__value--items-end">
                                    <span>{{ transactionData.fee | number: "1.2-8" }} {{ networkCurrency }}</span>
                                    <span class="send-confirm__fee">~{{ fiatFeePrice | currency: "USD" : "symbol" : "1.2-8" }}</span>
                                </p>

                                <ng-container *ngIf="transactionData.network === 'bitcoin'">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px">
                                        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
                                    </svg>
                                </ng-container>
                            </div>
                        </div>

                        <div class="zelf-action-row">
                            <p class="send-confirm__label">{{ t("common.total") }}</p>

                            <p class="send-confirm__value" [ngClass]="{ 'send-confirm__value--error': !hasBalance }">
                                {{ total | currency: "USD" : "symbol" : "1.2-8" }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="zelf-message zelf-message--error" *ngIf="!hasBalance">
                <ng-container *ngTemplateOutlet="cross"></ng-container>
                <p>{{ t("errors.insufficient_funds") }}</p>
            </div>

            <div
                class="zelf-input zelf-input--wide"
                [ngClass]="{ 'zelf-input--error': form.get('password')?.dirty && form.get('password')?.errors }"
                *ngIf="!passwordSet"
            >
                <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="zelf-input__control zelf-input__control--floating-label"
                    formControlName="password"
                    id="password"
                    name="password"
                    placeholder=" "
                    required
                />

                <label for="password" class="zelf-input__floating-label">{{ t("common.password") }}</label>

                <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
            </div>

            <div class="zelf-message zelf-message--error" *ngIf="passwordError">
                <ng-container *ngTemplateOutlet="cross"></ng-container>
                <p>{{ t("errors.invalid_password", { remaining: remainingAttempts }) }}</p>
            </div>

            <div class="zelf-card__actions">
                <button
                    (click)="goToBiometrics()"
                    [disabled]="!hasBalance || sending || !form.get('password')?.value"
                    *ngIf="requiresBiometrics"
                    autocomplete="off"
                    class="zelf-button zelf-button--black zelf-button--wide"
                    mat-flat-button
                    type="submit"
                >
                    {{ t("common.verify") }}
                </button>

                <button
                    (click)="confirmTransaction()"
                    [disabled]="!hasBalance || sending || (!passwordSet && !form.get('password')?.value)"
                    *ngIf="!requiresBiometrics"
                    class="zelf-button zelf-button--black zelf-button--wide"
                    mat-flat-button
                    type="submit"
                >
                    {{ t("common.confirm") }}

                    <mat-spinner *ngIf="sending" mode="indeterminate" diameter="18"></mat-spinner>
                </button>
            </div>
        </form>

        <ng-container *ngIf="showFeeInfo">
            <div class="zelf-card__content send-confirm__content">
                <div
                    class="zelf-action-row send-confirm__fee-row zelf-action-row--clickable"
                    (click)="selectFeeRate(feeRates.fastestFee)"
                    [ngClass]="{ 'zelf-action-row--selected': selectedFeeRate === feeRates.fastestFee }"
                >
                    <div class="send-confirm__value send-confirm__value--col">
                        <p class="send-confirm__label">{{ t("send.fastest") }}</p>

                        <p class="send-confirm__value">
                            {{
                                t("send.upto_sats", {
                                    sats: feeRates.fastestFee,
                                    feeAmountUSD: fiatFastestFee | currency: "USD" : "symbol" : "1.2",
                                    time: "< 30",
                                })
                            }}
                        </p>
                    </div>
                </div>

                <div
                    class="zelf-action-row send-confirm__fee-row zelf-action-row--clickable"
                    (click)="selectFeeRate(feeRates.halfHourFee)"
                    [ngClass]="{ 'zelf-action-row--selected': selectedFeeRate === feeRates.halfHourFee }"
                >
                    <div class="send-confirm__value send-confirm__value--col">
                        <p class="send-confirm__label">{{ t("send.average") }}</p>

                        <p class="send-confirm__value">
                            {{
                                t("send.upto_sats", {
                                    sats: feeRates.halfHourFee,
                                    feeAmountUSD: fiatHalfHourFee | currency: "USD" : "symbol" : "1.2",
                                    time: "~ 30",
                                })
                            }}
                        </p>
                    </div>
                </div>

                <div
                    class="zelf-action-row send-confirm__fee-row zelf-action-row--clickable"
                    (click)="selectFeeRate(feeRates.economyFee)"
                    [ngClass]="{ 'zelf-action-row--selected': selectedFeeRate === feeRates.economyFee }"
                >
                    <div class="send-confirm__value send-confirm__value--col">
                        <p class="send-confirm__label">{{ t("send.economical") }}</p>

                        <p class="send-confirm__value">
                            {{
                                t("send.upto_sats", {
                                    sats: feeRates.economyFee,
                                    feeAmountUSD: fiatEconomyFee | currency: "USD" : "symbol" : "1.2",
                                    time: "> 30",
                                })
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <zelf-loader *ngIf="loading"></zelf-loader>
</div>

<ng-template #openEye>
    <svg
        fill="none"
        height="24"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="#181818"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <circle cx="12" cy="12" r="3"></circle>
    </svg>
</ng-template>

<ng-template #closedEye>
    <svg
        fill="none"
        height="24"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="#181818"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
        ></path>
        <line x1="1" y1="1" x2="23" y2="23"></line>
    </svg>
</ng-template>

<ng-template #toggleButton>
    <button
        (click)="toggleShowPassword()"
        class="zelf-icon-button zelf-icon-button--transparent zelf-icon-button--no-fill"
        type="button"
        mat-icon-button
        tabindex="-1"
    >
        <ng-container *ngTemplateOutlet="showPassword ? openEye : closedEye"></ng-container>
    </button>
</ng-template>

<ng-template #cross>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C13.91 14.69 13.28 14.69 12.89 14.3L10 11.41L7.11 14.3C6.72 14.69 6.09 14.69 5.7 14.3C5.31 13.91 5.31 13.28 5.7 12.89L8.59 10L5.7 7.11C5.31 6.72 5.31 6.09 5.7 5.7C6.09 5.31 6.72 5.31 7.11 5.7L10 8.59L12.89 5.7C13.28 5.31 13.91 5.31 14.3 5.7C14.69 6.09 14.69 6.72 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
            fill="#DC362E"
        />
    </svg>
</ng-template>
