@use "../../styles/variables";
@use "../../styles/buttons";

:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.send-confirm {
    position: relative;

    &__loader {
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 2;
    }

    &__header {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 12px;
        align-content: center;
        justify-content: start;
        gap: 24px;
        width: 100%;
    }

    &__col1,
    &__col3 {
        grid-column: span 3;
        display: flex;
        align-items: center;
    }

    &__col1 {
        justify-content: start;
    }

    &__col2 {
        grid-column: span 4;
        text-align: center;
        align-items: center;
    }

    &__col3 {
        justify-content: end;
    }

    &__title {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        color: variables.$black;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-grow: 1;
    }

    &__zelf-name-display {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__content {
        flex: 1 1 auto;
        justify-content: flex-start;
        width: 100%;
    }

    &__total {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-direction: column;
    }

    &__from-value {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;

        @media (max-width: variables.$minSmall) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
        margin-top: 16px;
    }

    &__label {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
        color: variables.$gray;
        margin: 0;
    }

    &__value-row {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
            transition: fill 0.2s variables.$smoothBezier;
            fill: variables.$black;
        }
    }

    &__value {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
        color: variables.$black;
        transition: color 0.2s variables.$smoothBezier;
        margin: 0;

        &--col {
            display: flex;
            flex-direction: column;
        }

        &--items-end {
            justify-content: center;
            align-items: flex-end;
            text-align: right;
        }

        &--address {
            max-width: 60%;
            overflow-wrap: anywhere;
            text-align: right;
            font-size: 13px;
        }

        &--error {
            color: variables.$error;
        }
    }

    &__fee {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
        color: variables.$gray;
    }

    &__price-amount-container {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    &__price {
        font-size: 32px;
        font-weight: 600;
        color: variables.$black;
        font-family: "Menda", "Arial Black", sans-serif;
        margin: 0;
    }

    &__price-currency {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: variables.$black;
        font-family: "Poppins", Arial, sans-serif;
        margin: 0 0 8px;
    }

    &__fee-row {
        .send-confirm__value {
            font-weight: 400;
        }

        .send-confirm__label {
            font-weight: 600;
        }
    }

    @media (max-width: variables.$minSmall) {
        &__price {
            font-size: 28px;
        }

        &__label {
            font-size: 12px;
            line-height: 16px;
        }

        &__value {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.zelf-action-row--clickable {
    transition: background-color 0.2s variables.$smoothBezier;
    cursor: pointer;

    .send-confirm__value {
        transition: color 0.2s variables.$smoothBezier;
    }

    .send-confirm__label {
        transition: color 0.2s variables.$smoothBezier;
    }

    &:hover {
        background-color: variables.$black;

        .send-confirm__value {
            color: variables.$white;
        }

        .send-confirm__label {
            color: variables.$taupeGray;
        }

        .send-confirm__value-row svg {
            fill: variables.$white;
        }
    }
}

.zelf-action-row--selected {
    transition: background-color 0.2s variables.$smoothBezier;
    background-color: variables.$black;

    .send-confirm__value {
        transition: color 0.2s variables.$smoothBezier;
        color: variables.$white;
        font-weight: 400;
    }

    .send-confirm__label {
        transition: color 0.2s variables.$smoothBezier;
        color: variables.$taupeGray;
        font-weight: 600;
    }
}
