<div class="zelf-card" *transloco="let t">
    <div class="send-confirm__header">
        <div class="send-confirm__col1">
            <button
                mat-flat-button
                class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--40"
                [routerLink]="['../transaction']"
            >
                <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="send-confirm__col2">
            <p class="send-confirm__title">{{ t("common.transfer") }}</p>
        </div>

        <div class="send-confirm__col3"></div>
    </div>

    <form class="send-confirm__form" [formGroup]="form">
        <div class="zelf-card__content zelf-card__content--grow">
            <div class="send-confirm__total">
                <div class="zelf-chip">{{ t("common.amount") }}</div>

                <div class="send-confirm__price-amount-container">
                    <h2 class="send-confirm__price">{{ amount | number : "1.2-5" }}</h2>

                    <p class="send-confirm__price-currency">{{ token.symbol }}</p>
                </div>
            </div>

            <div class="send-confirm__content">
                <div class="send-confirm__summary">
                    <div class="zelf-action-row">
                        <p class="send-confirm__label">{{ t("common.from") }}</p>

                        <div class="send-confirm__from-value">
                            <p class="send-confirm__value">{{ fromAddress | addressMask }}</p>
                            <p class="zelf-chip" *ngIf="wallet?.publicData?.zelfName">{{ wallet?.publicData?.zelfName | uppercase }}</p>
                        </div>
                    </div>

                    <div class="zelf-action-row">
                        <p class="send-confirm__label">{{ t("common.withdrawal_network") }}</p>

                        <p class="send-confirm__value">{{ token.tokenType }}</p>
                    </div>

                    <div class="zelf-action-row">
                        <p class="send-confirm__label">{{ t("common.address") }}</p>

                        <p class="send-confirm__value">{{ receiver.ethAddress }}</p>
                    </div>

                    <div class="zelf-action-row">
                        <p class="send-confirm__label">{{ t("common.coin") }}</p>

                        <p class="send-confirm__value">{{ token.symbol }}</p>
                    </div>

                    <div class="zelf-action-row">
                        <p class="send-confirm__label">{{ t("common.fee") }}</p>

                        <p class="send-confirm__value">{{ fee | number : "1.2-20" }}</p>
                    </div>

                    <div class="zelf-action-row">
                        <p class="send-confirm__label">{{ t("common.total") }}</p>

                        <p class="send-confirm__value">{{ total | currency : "USD" : "symbol" : "1.2-2" }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="zelf-input zelf-input--wide"
            [ngClass]="{ 'zelf-input--error': form.get('password')?.dirty && form.get('password')?.errors }"
            *ngIf="!passwordSet"
        >
            <input
                [type]="showPassword ? 'text' : 'password'"
                class="zelf-input__control zelf-input__control--floating-label"
                formControlName="password"
                id="password"
                name="password"
                placeholder=" "
                required
            />

            <label for="password" class="zelf-input__floating-label">{{ t("common.password") }}</label>

            <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
        </div>

        <div class="zelf-card__actions">
            <button
                (click)="goToBiometrics()"
                [disabled]="sending || !form.get('password')?.value"
                *ngIf="requiresBiometrics"
                class="zelf-button zelf-button--black zelf-button--wide"
                mat-flat-button
                type="submit"
            >
                {{ t("common.verify") }}
            </button>

            <button
                (click)="confirmTransaction()"
                [disabled]="sending || (!passwordSet && !form.get('password')?.value)"
                *ngIf="!requiresBiometrics"
                class="zelf-button zelf-button--black zelf-button--wide"
                mat-flat-button
                type="submit"
            >
                {{ t("common.confirm") }}

                <mat-spinner *ngIf="sending" mode="indeterminate" diameter="18"></mat-spinner>
            </button>
        </div>
    </form>
</div>

<ng-template #openEye>
    <svg
        fill="none"
        height="24"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="#181818"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <circle cx="12" cy="12" r="3"></circle>
    </svg>
</ng-template>

<ng-template #closedEye>
    <svg
        fill="none"
        height="24"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="#181818"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
        ></path>
        <line x1="1" y1="1" x2="23" y2="23"></line>
    </svg>
</ng-template>

<ng-template #toggleButton>
    <button
        (click)="toggleShowPassword()"
        class="zelf-icon-button zelf-icon-button--transparent zelf-icon-button--no-fill"
        type="button"
        mat-icon-button
        tabindex="-1"
    >
        <ng-container *ngTemplateOutlet="showPassword ? openEye : closedEye"></ng-container>
    </button>
</ng-template>
