<div class="hwc-wrapper">
	<div class="hwc-content" *ngIf="loaded">
		<div class="hwc-header" fxLayout="row" fxLayoutAlign="center center">
			<div class="hwc-header-title">{{ "network_picker.title" | transloco }}</div>
		</div>
		<div class="hwc-account-list">
			<div class="np-network-card" fxLayout="row" fxLayoutAlign="start center" (click)="selectThisNetwork('eth')">
				<img src="../../../assets/images/eth_network.svg" alt="" />

				<h3>Ethereum mainnet</h3>
			</div>
		</div>

		<div class="hwc-header" fxLayout="row" fxLayoutAlign="center center">
			<div class="hwc-header-title">{{ "network_picker.testnets_title" | transloco }}</div>
		</div>
		<div class="hwc-account-list">
			<div class="np-network-card" fxLayout="row" fxLayoutAlign="start center" (click)="selectThisNetwork('sepolia')">
				<img src="../../../assets/images/eth.png" alt="" />

				<h3>Sepolia testnet</h3>
			</div>
		</div>
	</div>
</div>
