@use "../../styles/variables";
@use "../../styles/buttons";

:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.transaction-receipt {
    position: relative;

    &__header {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 12px;
        align-content: center;
        justify-content: start;
        gap: 24px;
        width: 100%;
    }

    &__loader {
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 2;
    }

    &__col1,
    &__col3 {
        grid-column: span 3;
        display: flex;
        align-items: center;
    }

    &__col1 {
        justify-content: start;
    }

    &__col2 {
        grid-column: span 4;
        text-align: center;
        align-items: center;
    }

    &__col3 {
        justify-content: end;
    }

    &__title {
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: center;
        vertical-align: middle;
        color: variables.$black;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-grow: 1;
    }

    &__content {
        flex: 1 1 auto;
        justify-content: flex-start;
        width: 100%;
    }

    &__total {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-direction: column;
    }

    &__from-value {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }

    &__empty {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-direction: column;
        width: 100%;
    }

    &__message {
        font-size: 1.5rem;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
        color: variables.$gray;
        margin-bottom: 4px;
        padding: 16px;
    }

    &__summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
        margin-top: 16px;
    }

    &__label {
        display: flex;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
        color: variables.$gray;
        margin: 0;
        min-width: 156px;
    }

    &__value-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex: 1 1 auto;

        svg {
            min-width: 12px;
            min-height: 12px;
        }

        &--column {
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
        }
    }

    &__value {
        display: flex;
        justify-content: flex-end;
        font-family: "Poppins", Arial, sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
        color: variables.$black;
        margin: 0;
        width: 100%;
        text-align: right;
        align-items: center;
    }

    &__swap-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        text-align: right;
    }

    &__value-light {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: variables.$frenchGray;
        margin-left: 8px;
    }

    &__logo-container {
        position: relative;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: flex-end;
        width: 36px;
        height: 36px;
        margin-right: 12px;
    }

    &__logo {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        object-fit: contain;

        &--network {
            position: absolute;
            bottom: -4px;
            right: -4px;
            height: 16px;
            width: 16px;
            object-fit: contain;
            border-radius: 16px;
            border: 2px solid variables.$white;
        }
    }

    &__price-amount-container {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    &__price {
        font-size: 32px;
        font-weight: 600;
        color: variables.$black;
        font-family: "Menda", "Arial Black", sans-serif;
        margin: 0;
    }

    &__price-currency {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: variables.$black;
        font-family: "Poppins", Arial, sans-serif;
        margin: 0 0 8px;
    }

    &__action-row--auto-height {
        height: auto;
        min-height: 67px;
    }

    @media (max-width: variables.$minSmall) {
        &__price {
            font-size: 28px;
        }

        &__label {
            font-size: 12px;
            line-height: 16px;
        }

        &__value {
            font-size: 12px;
            line-height: 16px;
        }
    }
}
