<div class="w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<!-- <header class="w-full"></header> -->
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/logo.svg" alt="" (click)="goBack()" class="cursor-pointer" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="column" fxLayoutAlign="start center">
		<app-stepper>
			<app-step *ngFor="let step of steps; index as i" [isActive]="step.isActive" [isCompleted]="step.isCompleted" [label]="step.label">
				<!-- password step -->
				<div class="cw-pst-container" *ngIf="currentStep === 0 && !showBiometrics">
					<div class="cw-pst-content" fxLayout="column" fxLayoutAlign="space-between center">
						<div class="cw-pst-content-d">
							<div style="height: 112px; position: relative">
								<div class="cw-pst-title">{{ "create_wallet.password_step.title" | transloco }}</div>
								<div class="cr-pst-description">
									{{ "create_wallet.password_step.description" | transloco }}
								</div>
							</div>
						</div>
						<div>
							<form class="example-form" [formGroup]="signUpForm" #signUpNgForm="ngForm">
								<mat-form-field class="w-full">
									<mat-label>{{ "create_wallet.password_step.password_label" | transloco }}</mat-label>
									<input type="password" matInput [formControlName]="'password'" />
									<mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
										{{ "create_wallet.password_step.password_label" | transloco }} {{ "common.is_required" | transloco }}
									</mat-error>
								</mat-form-field>

								<mat-form-field class="w-full">
									<mat-label>{{ "create_wallet.password_step.repeat_password_label" | transloco }}</mat-label>
									<input type="password" matInput [formControlName]="'repeatPassword'" />
									<mat-error *ngIf="signUpForm.get('repeatPassword')?.hasError('required')">
										{{ "create_wallet.password_step.repeat_password_label" | transloco }} {{ "common.is_required" | transloco }}
									</mat-error>
								</mat-form-field>

								<div fxLayout="column" fxLayoutAlign="start start">
									<mat-checkbox [formControlName]="'termsAcceptance'" class="on-checkbox">
										{{ "create_wallet.password_step.agreement" | transloco }}
									</mat-checkbox>

									<a href="#" class="mt-2 ml-10">{{ "common.more_info" | transloco }} </a>
								</div>
							</form>
						</div>

						<button mat-raised-button class="w-full rounded-button main-button" [disabled]="!isPasswordCorrect()">
							{{ "create_wallet.password_step.add_password" | transloco }}
						</button>
						<button mat-raised-button class="w-full rounded-button secondary-button" (click)="continueWithoutPassword()">
							{{ "create_wallet.password_step.continue_without_password" | transloco }}
						</button>
					</div>
				</div>
				<!-- end of password step -->

				<!-- step 1 -->
				<div class="cw-phrase-container" *ngIf="currentStep === 1 && !showBiometrics && !showBiometricsInstructions">
					<div class="cw-pst-content" fxLayout="column" fxLayoutAlign="space-between center">
						<div class="cw-phrase-content-d w-full" fxLayout="column" fxLayoutAlign="start center">
							<div fxLayout="column" fxLayoutAlign="start center">
								<div class="cw-pst-title">{{ "create_wallet.phrase_step.title" | transloco }}</div>
								<div class="cw-phrase-description">
									{{ "create_wallet.phrase_step.description" | transloco }}
								</div>

								<div class="cw-phrase-description">
									{{ "create_wallet.phrase_step.description_2" | transloco }}
								</div>

								<div class="cw-phrase-subtitle">{{ "create_wallet.phrase_step.subtitle" | transloco }}</div>
								<div class="cw-phrase-description">
									{{ "create_wallet.phrase_step.description_4" | transloco }}
								</div>
							</div>
						</div>
						<div class="w-full">
							<form class="example-form" [formGroup]="signUpForm" #signUpNgForm="ngForm">
								<mat-form-field class="w-full">
									<mat-label> {{ "create_wallet.phrase_step.words_input" | transloco }}</mat-label>
									<mat-select [formControlName]="'wordsCount'">
										<mat-select-trigger>
											<span class="flex items-center">
												<span class="sm:mx-0.5 font-medium text-default">{{ signUpForm.get("wordsCount")?.value }}</span>
											</span>
										</mat-select-trigger>
										<ng-container *ngFor="let words of [12, 24]">
											<mat-option [value]="words">
												<span class="flex items-center">
													<span class="ml-2">{{ words }}</span>
													<span class="ml-2 font-medium" *ngIf="words === 24"> {{ "common.recommended" | transloco }}</span>
												</span>
											</mat-option>
										</ng-container>
									</mat-select>
								</mat-form-field>
							</form>
						</div>

						<button mat-raised-button class="w-full rounded-button main-button" (click)="startEncryption()">
							{{ "create_wallet.phrase_step.start_encryption_button" | transloco }}
						</button>
					</div>
				</div>

				<!-- step 1 > show biometric instructions -->
				<div class="cw-phrase-container" *ngIf="currentStep === 1 && showBiometricsInstructions">
					<div class="cw-pst-content w-full" fxLayout="column" fxLayoutAlign="space-between center">
						<div fxLayout="column" fxLayoutAlign="start center" class="w-full">
							<img src="https://cdn.verifik.co/wallet/info_cr.svg" alt="" />

							<div class="cw-pst-title">{{ "create_wallet.biometric_instructions.title" | transloco }}</div>
						</div>

						<div class="cw-phrase-content-d m-8" fxLayout="column" fxLayoutAlign="start start">
							<div fxLayout="row" fxLayoutAlign="start center">
								<img src="https://cdn.verifik.co/wallet/smile.svg" alt="" class="mr-4" />

								<span> {{ "create_wallet.biometric_instructions.instruction_1" | transloco }} </span>
							</div>

							<div fxLayout="row" fxLayoutAlign="start center">
								<img src="https://cdn.verifik.co/wallet/camera.svg" alt="" class="mr-4" />

								<span> {{ "create_wallet.biometric_instructions.instruction_2" | transloco }} </span>
							</div>

							<div fxLayout="row" fxLayoutAlign="start center">
								<img src="https://cdn.verifik.co/wallet/instruction_1.svg" alt="" class="mr-4" />

								<span> {{ "create_wallet.biometric_instructions.instruction_3" | transloco }} </span>
							</div>
						</div>

						<button mat-raised-button class="w-full rounded-button main-button" (click)="startCamera()">
							{{ "create_wallet.phrase_step.start_encryption_button" | transloco }}
						</button>
					</div>
				</div>

				<!-- step 2 finalizar -->
				<div class="cw-view-wallet" *ngIf="currentStep === 2">
					<div class="cw-view-wallet-left">
						<div class="cw-view-wallet-left-header">
							<div class="cw-view-wallet-title-div">
								<div class="cw-view-wallet-title">{{ "create_wallet.view_wallet.title" | transloco }}</div>
							</div>
							<div class="cw-view-wallet-description">
								{{ "create_wallet.view_wallet.description" | transloco }}
								<br /><br />
								{{ "create_wallet.view_wallet.description_2" | transloco }}
							</div>
						</div>
						<div class="cw-view-wallet-words-container">
							<ng-container *ngFor="let i of [0, 4, 8, 12, 16, 20]; let isLast = last">
								<!-- Only display rows if the starting index is less than the length of the words array -->
								<div *ngIf="i < words.length" class="cw-view-wallet-words-c-div">
									<div *ngFor="let word of words | slice : i : i + 4" class="cw-word-container">
										<small>{{ word.id }}:</small>
										<div class="cw-word">{{ word.word }}</div>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
					<div class="cw-view-wallet-right">
						<div class="cw-view-wallet-right-address">
							<div class="cw-view-wallet-icon" (click)="copyPublicAddress()">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="w-6 h-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"
									/>
								</svg>
							</div>
							<div
								style="
									flex: 1 1 0;
									flex-direction: column;
									justify-content: flex-start;
									align-items: flex-start;
									display: inline-flex;
								"
							>
								<div style="align-self: stretch">
									<span
										style="
											color: #010333;
											font-size: 15px;
											font-family: Poppins;
											font-weight: 500;
											line-height: 24px;
											word-wrap: break-word;
										"
										>{{ "create_wallet.view_wallet.copy_public_address" | transloco }} <br /></span
									><span
										style="
											color: #010333;
											font-size: 11px;
											font-family: Poppins;
											font-weight: 400;
											line-height: 24px;
											word-wrap: break-word;
										"
									>
										{{ wallet.publicData.ethAddress }}</span
									>
								</div>
							</div>
						</div>
						<div
							style="
								padding: 32px;
								background: white;
								border-radius: 24px;
								justify-content: flex-start;
								align-items: flex-start;
								gap: 8px;
								display: inline-flex;
							"
						>
							<img style="width: 216px; height: 216px" [src]="wallet.image" />
						</div>
						<div
							style="
								align-self: stretch;
								text-align: center;
								color: #010333;
								font-size: 11px;
								font-family: Poppins;
								font-weight: 500;
								line-height: 16px;
								letter-spacing: 0.5px;
								word-wrap: break-word;
							"
						>
							{{ "create_wallet.view_wallet.qr_code_description" | transloco }}
						</div>
						<div
							style="
								align-self: stretch;
								height: 56px;
								padding-left: 12px;
								padding-right: 12px;
								padding-top: 8px;
								padding-bottom: 8px;
								background: white;
								border-radius: 16px;
								justify-content: flex-start;
								align-items: center;
								gap: 12px;
								display: inline-flex;
							"
						>
							<div class="cw-view-wallet-icon" (click)="downloadImage()">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="w-6 h-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
									/>
								</svg>
							</div>
							<div
								style="
									flex: 1 1 0;
									flex-direction: column;
									justify-content: flex-start;
									align-items: flex-start;
									display: inline-flex;
								"
							>
								<div class="cw-view-wallet-qr-code-label">
									{{ "create_wallet.view_wallet.download_qr_code" | transloco }}
								</div>
							</div>
						</div>
						<div
							style="
								align-self: stretch;
								height: 40px;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								gap: 8px;
								display: flex;
							"
						>
							<button mat-raised-button class="w-full rounded-button main-button" (click)="goToInstructions()">
								{{ "common.continue" | transloco }}
							</button>
						</div>
					</div>
				</div>

				<ng-container *ngIf="currentStep === i && showBiometrics">
					<biometrics-general [type]="'createWallet'" [data]="signUpForm.value" [callback]="afterBiometricsCallback"> </biometrics-general>
				</ng-container>
				<!-- end of step 1 -->
			</app-step>
		</app-stepper>
	</div>
</div>

<footer class="w-full pt-10"></footer>

<!-- 	// {
        // 	"glob": "**/*",
        // 	"input": "./node_modules/@angular/material/prebuilt-themes/",
        // 	"output": "./assets/material-themes/"
        // }
                        
-->
