<div class="w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<!-- <header class="w-full"></header> -->
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/logo.svg" alt="" (click)="goBack()" class="cursor-pointer" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="column" fxLayoutAlign="start center">
		<app-stepper>
			<app-step *ngFor="let step of steps; index as i" [isActive]="step.isActive" [isCompleted]="step.isCompleted" [label]="step.label">
				<div class="cw-pst-container" *ngIf="currentStep === 0 && !showBiometrics">
					<div class="cw-pst-content">
						<div class="cw-pst-content-d">
							<div style="height: 112px; position: relative">
								<div class="cw-pst-title">{{ "create_wallet.password_step.title" | transloco }}</div>
								<div class="cr-pst-description">
									{{ "create_wallet.password_step.description" | transloco }}
								</div>
							</div>
						</div>
						<div>
							<form class="example-form" [formGroup]="signUpForm" #signUpNgForm="ngForm">
								<mat-form-field class="w-full">
									<mat-label>{{ "create_wallet.password_step.password_label" | transloco }}</mat-label>
									<input id="password" matInput [formControlName]="'password'" />
									<mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
										{{ "create_wallet.password_step.password_label" | transloco }} {{ "common.is_required" | transloco }}
									</mat-error>
								</mat-form-field>

								<mat-form-field class="w-full">
									<mat-label>{{ "create_wallet.password_step.repeat_password_label" | transloco }}</mat-label>
									<input id="repeatPassword" matInput [formControlName]="'repeatPassword'" />
									<mat-error *ngIf="signUpForm.get('repeatPassword')?.hasError('required')">
										{{ "create_wallet.password_step.repeat_password_label" | transloco }} {{ "common.is_required" | transloco }}
									</mat-error>
								</mat-form-field>
							</form>
						</div>

						<div fxLayout="column" fxLayoutAlign="start start">
							<mat-checkbox class="on-checkbox"> {{ "create_wallet.password_step.agreement" | transloco }} </mat-checkbox>

							<a href="#">{{ "common.more_info" | transloco }} </a>
						</div>
						<button mat-raised-button class="w-full rounded-button main-button">
							{{ "create_wallet.password_step.add_password" | transloco }}
						</button>
						<button mat-raised-button class="w-full rounded-button secondary-button" (click)="continueWithoutPassword()">
							{{ "create_wallet.password_step.continue_without_password" | transloco }}
						</button>
					</div>
				</div>

				<!-- step 1 -->
				<div class="cw-phrase-container" *ngIf="currentStep === 1 && !showBiometrics">
					<div class="cw-pst-content" fxLayout="column" fxLayoutAlign="start center">
						<div class="cw-phrase-content-d" fxLayout="column" fxLayoutAlign="start center">
							<div fxLayout="column" fxLayoutAlign="start center">
								<div class="cw-pst-title">{{ "create_wallet.phrase_step.title" | transloco }}</div>
								<div class="cw-phrase-description">
									{{ "create_wallet.phrase_step.description" | transloco }}
								</div>

								<div class="cw-phrase-description">
									{{ "create_wallet.phrase_step.description_2" | transloco }}
								</div>

								<div class="cw-phrase-subtitle">{{ "create_wallet.phrase_step.subtitle" | transloco }}</div>
								<div class="cw-phrase-description">
									{{ "create_wallet.phrase_step.description_4" | transloco }}
								</div>
							</div>
						</div>
						<div class="w-full">
							<form class="example-form" [formGroup]="signUpForm" #signUpNgForm="ngForm">
								<mat-form-field class="w-full">
									<mat-label> {{ "create_wallet.phrase_step.words_input" | transloco }}</mat-label>
									<mat-select [formControlName]="'wordsCount'">
										<mat-select-trigger>
											<span class="flex items-center">
												<span class="sm:mx-0.5 font-medium text-default">{{ signUpForm.get("wordsCount")?.value }}</span>
											</span>
										</mat-select-trigger>
										<ng-container *ngFor="let words of [12, 24]">
											<mat-option [value]="words">
												<span class="flex items-center">
													<span class="ml-2">{{ words }}</span>
													<span class="ml-2 font-medium" *ngIf="words === 24"> {{ "common.recommended" | transloco }}</span>
												</span>
											</mat-option>
										</ng-container>
									</mat-select>
								</mat-form-field>
							</form>
						</div>

						<button mat-raised-button class="w-full rounded-button main-button" (click)="startEncryption()">
							{{ "create_wallet.phrase_step.start_encryption_button" | transloco }}
						</button>
					</div>
				</div>

				<biometrics-general [type]="'createWallet'" [data]="signUpForm.value" *ngIf="showBiometrics" [callback]="afterBiometricsCallback">
				</biometrics-general>
				<!-- end of step 1 -->
			</app-step>
		</app-stepper>
	</div>
</div>

<footer class="w-full pt-10"></footer>

<!-- 	// {
        // 	"glob": "**/*",
        // 	"input": "./node_modules/@angular/material/prebuilt-themes/",
        // 	"output": "./assets/material-themes/"
        // }
                        
-->
