<div class="w-full h-full zelf-content" fxLayout="column" fxLayoutAlign="start center">
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/full_zelf_logo.svg" alt="" (click)="goBack()" class="cursor-pointer" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="column" fxLayoutAlign="start center">
		<app-stepper [hideBackButton]="session.step === 3" [stepsArray]="session.steps">
			<app-step *ngFor="let step of session.steps; index as i" [isActive]="step.isActive" [isCompleted]="step.isCompleted" [label]="step.label">
				<!-- step wallet type -->
				<ng-container *ngIf="canSeeWordsCountStep(i)">
					<words-picker-step></words-picker-step>
				</ng-container>

				<!-- password step -->
				<ng-container *ngIf="canSeePasswordStep(i)">
					<password-step> </password-step>
				</ng-container>
				<!-- end of password step -->

				<!-- step 1 > show biometric instructions -->
				<ng-container *ngIf="canSeeBiometricInstructions(i)">
					<biometric-instructions></biometric-instructions>
				</ng-container>

				<!-- biometrics part -->
				<ng-container *ngIf="canSeeBiometricsStep(i)">
					<biometrics-general [type]="'createWallet'" [data]="session"> </biometrics-general>
				</ng-container>

				<!-- step 2 finalizar -->
				<ng-container *ngIf="canSeeQRCode(i)" class="wallet-qr-code-alone">
					<view-created-wallet-qr-code [walletType]="'wallet'"> </view-created-wallet-qr-code>
				</ng-container>
			</app-step>
		</app-stepper>
	</div>
</div>

<!-- <footer class="w-full pt-10"></footer> -->

<!-- 	// {
        // 	"glob": "**/*",
        // 	"input": "./node_modules/@angular/material/prebuilt-themes/",
        // 	"output": "./assets/material-themes/"
        // }
                        
-->
