<div class="w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<!-- <header class="w-full"></header> -->
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/logo.svg" alt="" class="cursor-pointer" (click)="goBack()" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="row" fxLayoutAlign="start center">
		<app-stepper>
			<app-step
				*ngFor="let step of session.steps; index as i"
				[isActive]="step.isActive"
				[isCompleted]="step.isCompleted"
				[label]="step.label"
				[isHidden]="step.isHidden"
			>
				<div class="unlock-container">
					<div class="unlock-inner-container">
						<div class="unlock-title">Abrir una billetera existente</div>
						<form class="unlock-box" [formGroup]="searchForm" #searchNgForm="ngForm">
							<div class="unlock-description">Abre una billetera existente ingresando su dirección pública a continuación:</div>
							<div class="unlock-input-box">
								<div class="unlock-input-text-container">
									<mat-form-field class="w-full">
										<input type="text" matInput [formControlName]="'address'" />
									</mat-form-field>
								</div>
								<div class="unlock-icon-container">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path
											fill-rule="evenodd"
											clip-rule="evenodd"
											d="M14.76 13.27L20.49 19L19 20.49L13.27 14.76C12.2 15.53 10.91 16 9.5 16C5.91 16 3 13.09 3 9.5C3 5.91 5.91 3 9.5 3C13.09 3 16 5.91 16 9.5C16 10.91 15.53 12.2 14.76 13.27ZM9.5 5C7.01 5 5 7.01 5 9.5C5 11.99 7.01 14 9.5 14C11.99 14 14 11.99 14 9.5C14 7.01 11.99 5 9.5 5Z"
											fill="#43474E"
										/>
									</svg>
								</div>
							</div>
						</form>
						<div class="unlock-box">
							<div class="unlock-description">O Sube la imagen de su código QR para continuar:</div>
							<div class="unlock-upload-box">
								<div class="unlock-upload-inner-box">
									<div class="unlock-upload-button">
										<div class="unlock-upload-button-text">Seleccionar código QR</div>
									</div>
									<div class="unlock-drag-drop-text">o arrastra y suelta el archivo con extensión .JPG o PNG aquí</div>
								</div>
							</div>
						</div>
						<div class="unlock-button">
							<div class="unlock-button-text">Verificar</div>
						</div>
						<div class="unlock-button-outline">
							<div class="unlock-button-outline-text">Volver</div>
						</div>
					</div>
				</div>
			</app-step>
		</app-stepper>
	</div>
</div>

<footer class="w-full pt-10"></footer>
