<div class="w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<!-- <header class="w-full"></header> -->
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/logo.svg" alt="" class="cursor-pointer" (click)="goBack()" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="row" fxLayoutAlign="start center">
		<app-stepper>
			<app-step
				*ngFor="let step of session.steps; index as i"
				[isActive]="step.isActive"
				[isCompleted]="step.isCompleted"
				[label]="step.label"
				[isHidden]="step.isHidden"
			>
				<ng-container>
					<uw-search-wallet></uw-search-wallet>
				</ng-container>
			</app-step>
		</app-stepper>
	</div>
</div>

<footer class="w-full pt-10"></footer>
