<div class="w-full h-full main-bg" fxLayout="column" fxLayoutAlign="start center">
	<!-- <header class="w-full"></header> -->
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/full_zelf_logo.svg" alt="" class="cursor-pointer" (click)="goBack()" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="row" fxLayoutAlign="start center" *ngIf="session.navigationStep !== 2">
		<app-stepper>
			<app-step
				*ngFor="let step of session.steps; index as i"
				[isActive]="step.isActive"
				[isCompleted]="step.isCompleted"
				[label]="step.label"
				[isHidden]="step.isHidden"
			>
				<ng-container *ngIf="canSeeSearchStep(i)">
					<uw-search-wallet></uw-search-wallet>
				</ng-container>

				<ng-container *ngIf="canSeePasswordStep(i)">
					<uw-password-step></uw-password-step>
				</ng-container>

				<ng-container *ngIf="canSeeBiometricInstructionsStep(i)">
					<biometric-instructions> </biometric-instructions>
				</ng-container>

				<ng-container *ngIf="canSeeBiometricStep(i)">
					<biometrics-general [type]="'decryptWallet'" [data]="session"> </biometrics-general>
				</ng-container>

				<ng-container *ngIf="canSeeQRCode(i)">
					<view-created-wallet-qr-code [walletType]="'unlockWallet'"> </view-created-wallet-qr-code>
				</ng-container>
			</app-step>
		</app-stepper>
	</div>

	<div
		fxLayout="column"
		fxLayoutAlign="start center"
		*ngIf="session.navigationStep === 2 && wallet && wallet.metadata"
		class="wallet-qr-code-alone"
	>
		<view-created-wallet-qr-code [walletType]="'unlockWallet'"></view-created-wallet-qr-code>
	</div>
</div>

<!-- <footer class="w-full pt-10"></footer> -->
