.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
	/* Your custom styles here */
	padding-top: 27px;
	padding-bottom: 8px;
}

.home-main {
	background: white;
	width: 440px;
	height: 750px;
}

.home-main-div {
	width: 440px;
	height: 750px;
	width: 100%;
	position: relative;
	background: white;
}

.unlock-box {
	min-height: 480px;
	align-self: stretch;
	padding-top: 16px;
	padding-bottom: 24px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 16px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	display: flex;
}

.unlock-description {
	align-self: stretch;
	text-align: center;
	color: #010333;
	font-size: 16px;
	font-family: Poppins;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.15px;
	word-wrap: break-word;
}

.unlock-input-box {
	align-self: stretch;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	border: 1px rgba(0, 0, 0, 0.2) solid;
	justify-content: space-between;
	align-items: center;
	display: inline-flex;
}

.unlock-input-text-container {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	width: 100%;
}

.unlock-icon-container {
	width: 34px;
	padding-left: 10px;
	height: 24px;
	position: relative;
}

.unlock-icon {
	width: 17.49px;
	height: 17.49px;
	left: 3px;
	top: 3px;
	position: absolute;
	background: #43474e;
}

.st-sw-your-accounts {
	max-height: 45vh;
	overflow-y: auto;
}
