<div class="h-main w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<div class="home-main">
		<!-- HEADER -->
		<home-header [shareables]="shareables"></home-header>

		<div class="w-full" fxLayout="row" fxLayoutAlign="start center" class="send-transaction-header">
			<div (click)="cancel()">
				<svg class="ml-2 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="white" />
				</svg>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center" class="w-full">
				<h4 class="m-0">
					{{ "send_transaction." + shareables.view + "_step" | transloco }}
				</h4>
			</div>
		</div>

		<mat-progress-bar mode="query" *ngIf="shareables.loading"></mat-progress-bar>

		<div *ngIf="shareables.view === 'tokens'" class="w-full">
			<token-card
				class="w-full"
				[data]="token"
				*ngFor="let token of tokens"
				[view]="shareables.view"
				[shareables]="shareables"
				(click)="selectToken(token)"
			></token-card>
		</div>

		<div *ngIf="shareables.view === 'pickReceiver'" class="w-full">
			<st-search-wallet [shareables]="shareables"> </st-search-wallet>
		</div>

		<!-- <st-search-wallet> </st-search-wallet> -->
	</div>
</div>
