<div class="h-main w-full h-full" fxLayout="column" fxLayoutAlign="start center">
	<div class="home-main">
		<!-- HEADER -->
		<home-header [shareables]="shareables"></home-header>

		<div *ngIf="shareables.view === 'home'" class="w-full">
			<!-- Address -->
			<div fxLayout="row" fxLayoutAlign="end center" class="pt-6 pr-4">
				<small class="link" (click)="cancel()"> Cancel </small>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center">
				<h2 class="m-0">Send to</h2>
			</div>
		</div>

		<st-search-wallet></st-search-wallet>
	</div>
</div>
