.pass-content {
	height: 516px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.pass-content-header {
	align-self: stretch;
	height: 112px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 48px;
	display: flex;
}
