<div class="zelf-card">
	<div class="pass-content" fxLayout="column" fxLayoutAlign="space-between center">
		<div class="pass-content-header">
			<div style="height: 112px; position: relative">
				<h1 class="m-2">{{ "create_wallet.password_step.title" | transloco }}</h1>

				<div class="on-description">
					{{ "create_wallet.password_step.description" | transloco }}
				</div>
			</div>
		</div>

		<!-- start of the form -->
		<form [formGroup]="passwordForm" #passwordNgForm="ngForm">
			<mat-form-field class="w-full">
				<mat-label>{{ "create_wallet.password_step.password_label" | transloco }}</mat-label>
				<input type="password" matInput [formControlName]="'password'" />
				<mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
					{{ "create_wallet.password_step.password_label" | transloco }} {{ "common.is_required" | transloco }}
				</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>{{ "create_wallet.password_step.repeat_password_label" | transloco }}</mat-label>
				<input type="password" matInput [formControlName]="'repeatPassword'" />
				<mat-error *ngIf="passwordForm.get('repeatPassword')?.hasError('required')">
					{{ "create_wallet.password_step.repeat_password_label" | transloco }} {{ "common.is_required" | transloco }}
				</mat-error>
			</mat-form-field>

			<div fxLayout="column" fxLayoutAlign="start start">
				<mat-checkbox [formControlName]="'termsAcceptance'" class="on-checkbox">
					{{ "create_wallet.password_step.agreement" | transloco }}
				</mat-checkbox>

				<a href="https://docs.zelf.world/getting-started/how-zelf-works#traditional-password" class="mt-2 ml-10"
					>{{ "common.more_info" | transloco }}
				</a>
			</div>
		</form>
		<!-- end of the form -->
	</div>
	<!-- actions -->
	<div fxLayout="column" fxLayoutAlign="space-between center" class="w-full p-4">
		<button mat-raised-button class="w-full main-button" [disabled]="!isPasswordCorrect()" (click)="addPassword()">
			{{ "create_wallet.password_step.add_password" | transloco }}
		</button>
		<button mat-raised-button class="w-full secondary-button mt-4" (click)="continueWithoutPassword()">
			{{ "create_wallet.password_step.continue_without_password" | transloco }}
		</button>
	</div>
	<!-- end of actions -->
</div>
