<div class="zelf-card swap" *transloco="let t">
    <div class="swap__header">
        <div class="swap__col1">
            <button
                (click)="swapSource = ''"
                [routerLink]="swapSource ? null : ['/home']"
                class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--40"
                mat-flat-button
            >
                <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <div class="swap__col2">
            <p class="swap__title">{{ t("home.swap") }}</p>
        </div>

        <div class="swap__col3"></div>
    </div>

    <ng-container *ngIf="!swapSource">
        <form [formGroup]="form" class="zelf-card__content swap__content">
            <div class="ripple swap__loader" *ngIf="loading"></div>

            <div class="swap__asset-card">
                <div class="swap__asset-card-actions swap__asset-card-actions--left">
                    <div class="swap__asset-input-label">{{ t("swap.you_pay") }}</div>

                    <input
                        [class.swap__amount-input--dollar]="swapBalanceDisplay === 'fiat'"
                        class="swap__amount-input"
                        formControlName="sourceAmount"
                        placeholder="0"
                        type="number"
                    />

                    <div class="swap__balance-value">
                        <p class="swap__balance-value-label">
                            <ng-container *ngIf="swapBalanceDisplay === 'token'">
                                {{ totalSourceFiat | currency : "USD" : "symbol" : "1.2-2" }}
                            </ng-container>

                            <ng-container *ngIf="swapBalanceDisplay === 'fiat'">
                                {{ totalSourceToken | number : "1.2-4" }}
                            </ng-container>
                        </p>

                        <button
                            (click)="handleBalanceDisplayChange()"
                            mat-flat-button
                            class="zelf-icon-button zelf-icon-button--hyperlink zelf-icon-button--pill"
                        >
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.13563 6.85496L0.355635 9.64496C0.165635 9.84496 0.165635 10.155 0.355635 10.355L3.13563 13.145C3.44563 13.465 3.98563 13.235 3.98563 12.795V10.995H9.99564C10.5456 10.995 10.9956 10.545 10.9956 9.99496C10.9956 9.44496 10.5456 8.99496 9.99564 8.99496H3.98563V7.20496C3.98563 6.75496 3.44563 6.53496 3.13563 6.85496ZM17.6456 3.64496L14.8656 0.854961C14.5556 0.534961 14.0156 0.764961 14.0156 1.20496V2.99496H7.99564C7.44563 2.99496 6.99564 3.44496 6.99564 3.99496C6.99564 4.54496 7.44563 4.99496 7.99564 4.99496H14.0056V6.78496C14.0056 7.23496 14.5456 7.45496 14.8556 7.13496L17.6356 4.34496C17.8356 4.15496 17.8356 3.83496 17.6456 3.64496Z"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swap__asset-card-actions swap__asset-card-actions--right">
                    <div (click)="swapSource = 'source'" class="swap__dropdown-selector">
                        <div class="swap__asset-logo-container">
                            <img class="swap__asset-logo" [src]="selectedSourceAsset.image" alt="Source Asset" />
                            <img
                                [src]="networkImage"
                                *ngIf="network === selectedSourceAsset.name"
                                alt="Source Network"
                                class="swap__asset-network-logo"
                            />
                        </div>

                        <div class="swap__asset-info">
                            <p class="swap__asset-name">{{ selectedSourceAsset.symbol }}</p>
                            <p class="swap__asset-symbol" *ngIf="networkSymbol !== selectedSourceAsset.symbol">{{ networkSymbol }}</p>
                        </div>

                        <button
                            mat-flat-button
                            class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--border-soft swap__asset-dropdown-button"
                        >
                            <ng-container *ngTemplateOutlet="downArrowIcon"></ng-container>
                        </button>
                    </div>

                    <div class="swap__quick-amounts">
                        <p class="swap__quick-amount">{{ selectedSourceAsset.amount | number : "1.2-4" }}</p>

                        <button (click)="setAmount(0.5)" mat-flat-button class="zelf-icon-button zelf-icon-button--hyperlink zelf-icon-button--pill">
                            50%
                        </button>

                        <button (click)="setAmount(1)" mat-flat-button class="zelf-icon-button zelf-icon-button--hyperlink zelf-icon-button--pill">
                            Max
                        </button>
                    </div>
                </div>
            </div>

            <div class="swap__asset-switch">
                <button
                    [disabled]="!hasBothAssetsSet"
                    (click)="swapTargetWithSource()"
                    mat-flat-button
                    class="zelf-icon-button zelf-icon-button--black zelf-icon-button--40 zelf-icon-button--border-soft"
                >
                    <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.9961 14.0149V8.0049C10.9961 7.4549 10.5461 7.0049 9.99612 7.0049C9.44612 7.0049 8.99612 7.4549 8.99612 8.0049V14.0149H7.20612C6.75612 14.0149 6.53612 14.5549 6.85612 14.8649L9.64612 17.6449C9.84612 17.8349 10.1561 17.8349 10.3561 17.6449L13.1461 14.8649C13.4661 14.5549 13.2361 14.0149 12.7961 14.0149H10.9961ZM3.64612 0.354902L0.856124 3.1449C0.536124 3.4549 0.756124 3.9949 1.20612 3.9949H2.99612V10.0049C2.99612 10.5549 3.44612 11.0049 3.99612 11.0049C4.54612 11.0049 4.99612 10.5549 4.99612 10.0049V3.9949H6.78612C7.23612 3.9949 7.45612 3.4549 7.13612 3.1449L4.34612 0.354902C4.15612 0.164902 3.83612 0.164902 3.64612 0.354902Z"
                        />
                    </svg>
                </button>
            </div>

            <div class="swap__asset-card">
                <div class="swap__asset-card-actions swap__asset-card-actions--left">
                    <div class="swap__asset-input-label">{{ t("swap.you_receive") }}</div>

                    <input placeholder="0" readonly formControlName="targetAmount" type="number" class="swap__amount-input" />

                    <div class="swap__balance-value">
                        <p class="swap__balance-value-label">
                            <ng-container *ngIf="swapBalanceDisplay === 'token'">
                                {{ totalTargetFiat | currency : "USD" : "symbol" : "1.2-2" }}
                            </ng-container>

                            <ng-container *ngIf="swapBalanceDisplay === 'fiat'">
                                {{ totalTargetToken | number : "1.2-4" }}
                            </ng-container>
                        </p>
                    </div>
                </div>

                <div class="swap__asset-card-actions swap__asset-card-actions--right">
                    <div (click)="swapSource = 'source'" class="swap__dropdown-selector">
                        <div class="swap__asset-logo-container">
                            <img class="swap__asset-logo" [src]="selectedTargetAsset.image" alt="Source Asset" />
                            <img
                                [src]="networkImage"
                                *ngIf="network === selectedTargetAsset.name"
                                alt="Source Network"
                                class="swap__asset-network-logo"
                            />
                        </div>

                        <div class="swap__asset-info">
                            <p class="swap__asset-name">{{ selectedTargetAsset.symbol }}</p>
                            <p class="swap__asset-symbol" *ngIf="networkSymbol !== selectedTargetAsset.symbol">{{ networkSymbol }}</p>
                        </div>

                        <button
                            mat-flat-button
                            class="zelf-icon-button zelf-icon-button--anti-flash-white zelf-icon-button--border-soft swap__asset-dropdown-button"
                        >
                            <ng-container *ngTemplateOutlet="downArrowIcon"></ng-container>
                        </button>
                    </div>

                    <div class="swap__quick-amounts">
                        <p class="swap__quick-amount">{{ selectedTargetAsset.amount | number : "1.2-4" }}</p>
                    </div>
                </div>
            </div>

            <div class="swap__details">
                <div class="swap__settings">
                    <button mat-icon-button [matMenuTriggerFor]="settingsMenu" class="swap__settings-button">
                        {{ t("swap.settings") }}
                        <ng-container *ngTemplateOutlet="downArrowIcon"></ng-container>
                    </button>

                    <mat-menu #settingsMenu="matMenu">
                        <button mat-menu-item (click)="handleBalanceDisplayChange()">
                            <span>{{ swapBalanceDisplay === "token" ? "Show Fiat" : "Show Token" }}</span>
                        </button>
                    </mat-menu>
                </div>

                <div class="zelf-action-row">
                    <div class="zelf-action-row__col1">
                        <p class="swap__details-label">{{ t("swap.pricing") }}</p>

                        <ng-container *ngTemplateOutlet="informationIcon"></ng-container>
                    </div>

                    <div class="zelf-action-row__col2">
                        <p class="swap__details-value">1 USD ~ {{ targetTokenPricePerDollar | currency : "USD" : "symbol" : "1.2-8" }}</p>
                    </div>
                </div>

                <div class="zelf-action-row">
                    <div class="zelf-action-row__col1">
                        <p class="swap__details-label">{{ t("swap.fees") }}</p>

                        <ng-container *ngTemplateOutlet="informationIcon"></ng-container>
                    </div>

                    <div class="zelf-action-row__col2">
                        <p class="swap__details-value">{{ networkFee | currency : "USD" : "symbol" : "1.2-8" }}</p>
                    </div>
                </div>

                <div class="zelf-action-row">
                    <div class="zelf-action-row__col1">
                        <p class="swap__details-label">{{ t("swap.slippage") }}</p>

                        <ng-container *ngTemplateOutlet="informationIcon"></ng-container>
                    </div>

                    <div class="zelf-action-row__col2">
                        <p class="swap__details-value">{{ slippage | number : "1.2-2" }} %</p>
                    </div>
                </div>
            </div>
        </form>

        <div class="zelf-card__actions swap__actions">
            <button [routerLink]="['/home']" mat-flat-button class="zelf-button zelf-button--black zelf-button--wide">
                {{ t("common.continue") }}
            </button>
        </div>
    </ng-container>

    <swap-currency
        *ngIf="swapSource"
        [source]="swapSource"
        [selectedAsset]="swapSource === 'source' ? selectedSourceAsset : selectedTargetAsset"
    ></swap-currency>
</div>

<ng-template #downArrowIcon>
    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.87498 0.999531L5.99498 4.87953L2.11498 0.999531C1.72498 0.609531 1.09498 0.609531 0.704976 0.999531C0.314976 1.38953 0.314976 2.01953 0.704976 2.40953L5.29498 6.99953C5.68498 7.38953 6.31498 7.38953 6.70498 6.99953L11.295 2.40953C11.685 2.01953 11.685 1.38953 11.295 0.999531C10.905 0.619531 10.265 0.609531 9.87498 0.999531Z"
        />
    </svg>
</ng-template>

<ng-template #informationIcon>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 15C9.45 15 9 14.55 9 14V10C9 9.45 9.45 9 10 9C10.55 9 11 9.45 11 10V14C11 14.55 10.55 15 10 15ZM11 7H9V5H11V7Z"
        />
    </svg>
</ng-template>
