@use "../../styles/variables";
@use "../../styles/buttons";

:host {
    display: block;
    width: 100%;
    margin: 16px 0 0;
}

.mnemonic {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;

    &__password-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 16px;
        border: 1px solid variables.$platinum;
        border-radius: 16px;
        margin: 16px 0;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
}

.mnemonic-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 12px;
    transition: filter 0.3s variables.$smoothBezier;
    width: 100%;

    &--blur {
        filter: blur(8px);
        pointer-events: none;
    }

    &__cell {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        background-color: variables.$antiFlashWhite;
        padding: 8px;
        border-radius: 24px;
        height: 32px;
        grid-column: span 1;

        &-number {
            display: inline-block;
            user-select: none;
            color: variables.$taupeGray;
            font-size: 12px;
            font-weight: 500;
            margin: 0 6px;
        }

        &-word {
            display: inline-block;
            user-select: none;
            color: variables.$black;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
