<div class="dapp-connect" *transloco="let t">
    <ng-container *ngIf="!loading">
        <!-- Site Identity Header -->
        <div class="dapp-connect__header">
            <div class="dapp-connect__site-icon">
                <img *ngIf="favicon && !faviconError" [src]="favicon" [alt]="hostname" (error)="onFaviconError()" width="48" height="48" />
                <span *ngIf="!favicon || faviconError" class="dapp-connect__site-initial">{{ hostnameInitial }}</span>
            </div>

            <p class="dapp-connect__hostname">{{ hostname }}</p>

            <div class="dapp-connect__verify" [ngClass]="verifyClass">
                <span class="dapp-connect__verify-dot"></span>
                <span>{{ verifyLabel }}</span>
            </div>

            <p class="dapp-connect__subtitle">{{ t("dapp.wants_to_connect") }}</p>
        </div>

        <!-- Tabs -->
        <div class="dapp-connect__tabs" *ngIf="!isThreat">
            <button class="dapp-connect__tab" [class.dapp-connect__tab--active]="activeTab === 'accounts'" (click)="setTab('accounts')">
                {{ t("dapp.accounts") }}
            </button>
            <button class="dapp-connect__tab" [class.dapp-connect__tab--active]="activeTab === 'permissions'" (click)="setTab('permissions')">
                {{ t("dapp.permissions") }}
            </button>
        </div>

        <!-- Accounts Tab -->
        <div class="dapp-connect__body" *ngIf="activeTab === 'accounts' && !isThreat">
            <div class="dapp-connect__accounts">
                <div
                    class="dapp-connect__account"
                    *ngFor="let account of accounts; let i = index"
                    [class.dapp-connect__account--selected]="account.selected"
                    (click)="toggleAccount(i)"
                >
                    <div class="dapp-connect__account-avatar">
                        <span class="material-symbols-outlined">person</span>
                    </div>

                    <div class="dapp-connect__account-info">
                        <p class="dapp-connect__account-name" *ngIf="account.tagName">{{ account.tagName }}</p>
                        <p class="dapp-connect__account-address">{{ shortAddress(account.address) }}</p>
                    </div>

                    <div class="dapp-connect__account-check">
                        <svg *ngIf="account.selected" width="12" height="12" viewBox="0 0 14 14" fill="none">
                            <path d="M5.5 10.5L2 7L3 6L5.5 8.5L11 3L12 4L5.5 10.5Z" fill="currentColor" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="dapp-connect__network-container" [class.dapp-connect__network-container--open]="showPicker">
                <div class="dapp-connect__network" (click)="toggleNetworkPicker()">
                    <span class="material-symbols-outlined">lan</span>
                    <span>{{ t("dapp.network") }}: {{ chainName }}</span>
                    <span class="material-symbols-outlined dapp-connect__network-arrow">expand_more</span>
                </div>

                <div class="dapp-connect__picker" *ngIf="showPicker">
                    <div
                        class="dapp-connect__picker-item"
                        *ngFor="let chain of supportedChains"
                        (click)="selectNetwork(chain.chainId)"
                        [class.dapp-connect__picker-item--active]="chain.chainId === chainId"
                    >
                        <span>{{ chain.name }}</span>
                        <svg *ngIf="chain.chainId === chainId" width="12" height="12" viewBox="0 0 14 14" fill="none">
                            <path d="M5.5 10.5L2 7L3 6L5.5 8.5L11 3L12 4L5.5 10.5Z" fill="currentColor" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <!-- Permissions Tab -->
        <div class="dapp-connect__body" *ngIf="activeTab === 'permissions' && !isThreat">
            <div class="dapp-connect__permissions">
                <div class="dapp-connect__permission">
                    <div class="dapp-connect__permission-icon">
                        <span class="material-symbols-outlined">visibility</span>
                    </div>
                    <p>{{ t("dapp.permission_see_address") }}</p>
                </div>

                <div class="dapp-connect__permission">
                    <div class="dapp-connect__permission-icon">
                        <span class="material-symbols-outlined">swap_horiz</span>
                    </div>
                    <p>{{ t("dapp.permission_suggest_tx") }}</p>
                </div>
            </div>

            <div class="dapp-connect__permission-disclaimer">
                <span class="material-symbols-outlined">info</span>
                <p>{{ t("dapp.permission_disclaimer") }}</p>
            </div>
        </div>

        <!-- Threat Warning -->
        <div class="dapp-connect__body dapp-connect__threat" *ngIf="isThreat">
            <div class="dapp-connect__threat-icon">
                <svg width="32" height="32" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                </svg>
            </div>
            <p class="dapp-connect__threat-title">{{ t("dapp.threat_warning_title") }}</p>
            <p class="dapp-connect__threat-body">{{ t("dapp.threat_warning") }}</p>
        </div>

        <!-- Loading Bar -->
        <div class="dapp-connect__loading" *ngIf="isConnecting">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <!-- Error Banner -->
        <div class="dapp-connect__error" *ngIf="connectError">
            <span class="material-symbols-outlined">error</span>
            <p>{{ connectError === "timeout" ? t("dapp.connect_timeout") : t("dapp.connect_error") }}</p>
            <button (click)="clearConnectError()" class="dapp-connect__error-dismiss" mat-button>
                {{ t("common.try_again") }}
            </button>
        </div>

        <!-- Actions -->
        <div class="dapp-connect__actions">
            <button (click)="reject()" class="dapp-connect__btn dapp-connect__btn--cancel" mat-flat-button>
                {{ t("common.cancel") }}
            </button>

            <button
                (click)="approve()"
                [disabled]="isThreat || selectedAccounts.length === 0 || isConnecting"
                class="dapp-connect__btn dapp-connect__btn--connect"
                mat-flat-button
            >
                {{ isConnecting ? t("dapp.connecting") : t("dapp.connect") }}
            </button>
        </div>
    </ng-container>

    <zelf-loader *ngIf="loading"></zelf-loader>
</div>
