<div class="zelf-card" *transloco="let t">
    <div class="zelf-card__header">
        <div class="security-password__header-button">
            <button (click)="goBack()" mat-icon-button class="zelf-icon-button zelf-icon-button--40">
                <svg viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <ng-container *ngIf="isNew">
            <h2 class="zelf-card__title">{{ t("common.password_layer") }}</h2>
            <p class="zelf-card__subtitle">{{ t("security.new_password_subtitle") }}</p>
        </ng-container>

        <ng-container *ngIf="!isNew">
            <h2 class="zelf-card__title">{{ t("security.password_decryption") }}</h2>
            <p class="zelf-card__subtitle">{{ t("security.password_subtitle") }}</p>
        </ng-container>
    </div>

    <form [formGroup]="form" class="security-password__form" (ngSubmit)="storePassword()">
        <div class="zelf-card__content">
            <div class="zelf-input zelf-input--wide" [ngClass]="{ 'zelf-input--error': form.get('password')?.dirty && form.get('password')?.errors }">
                <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="zelf-input__control zelf-input__control--floating-label"
                    formControlName="password"
                    id="password"
                    name="password"
                    placeholder=" "
                    required
                />

                <label for="password" class="zelf-input__floating-label">{{ t("common.password") }}</label>

                <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
            </div>

            <div
                class="zelf-input zelf-input--wide"
                [ngClass]="{ 'zelf-input--error': form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.errors }"
                *ngIf="isNew"
            >
                <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="zelf-input__control zelf-input__control--floating-label"
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder=" "
                    required
                />

                <label for="confirmPassword" class="zelf-input__floating-label">{{ t("common.confirm_password") }}</label>

                <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
            </div>

            <password-strength formControlName="passwordStrength" [password]="form.get('password')?.value" *ngIf="isNew"></password-strength>

            <div class="zelf-message zelf-message--error zelf-message--column">
                <ng-container
                    *ngIf="
                        (form.get('password')?.dirty && form.get('password')?.errors?.required) ||
                        (form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.errors?.required)
                    "
                >
                    <div class="zelf-message__row">
                        <ng-container *ngTemplateOutlet="cross"></ng-container>
                        <p>{{ t("errors.all_fields_required") }}</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="form.get('confirmPassword')?.errors?.compareTo">
                    <div class="zelf-message__row">
                        <ng-container *ngTemplateOutlet="cross"></ng-container>
                        <p>{{ t("errors.password_doesnt_match") }}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="zelf-card__actions security-password__actions">
            <button [disabled]="form.invalid" class="zelf-button zelf-button--black zelf-button--wide" mat-flat-button type="submit">
                {{ t("common.confirm_password") }}
            </button>
        </div>
    </form>
</div>

<ng-template #cross>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C13.91 14.69 13.28 14.69 12.89 14.3L10 11.41L7.11 14.3C6.72 14.69 6.09 14.69 5.7 14.3C5.31 13.91 5.31 13.28 5.7 12.89L8.59 10L5.7 7.11C5.31 6.72 5.31 6.09 5.7 5.7C6.09 5.31 6.72 5.31 7.11 5.7L10 8.59L12.89 5.7C13.28 5.31 13.91 5.31 14.3 5.7C14.69 6.09 14.69 6.72 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
            fill="#DC362E"
        />
    </svg>
</ng-template>

<ng-template #openEye>
    <svg
        fill="none"
        height="24"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="#181818"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <circle cx="12" cy="12" r="3"></circle>
    </svg>
</ng-template>

<ng-template #closedEye>
    <svg
        fill="none"
        height="24"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="#181818"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
        ></path>
        <line x1="1" y1="1" x2="23" y2="23"></line>
    </svg>
</ng-template>

<ng-template #toggleButton>
    <button
        (click)="toggleShowPassword()"
        class="zelf-icon-button zelf-icon-button--transparent zelf-icon-button--no-fill"
        type="button"
        mat-icon-button
        tabindex="-1"
    >
        <ng-container *ngTemplateOutlet="showPassword ? openEye : closedEye"></ng-container>
    </button>
</ng-template>
