<div class="zelf-card" *transloco="let t">
    <div class="zelf-card__header">
        <div class="security-password__header-button">
            <button (click)="goBack()" mat-icon-button class="zelf-icon-button zelf-icon-button--40">
                <svg viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.0898 5.8277H4.72478L8.08478 2.4677C8.53978 2.0127 8.53978 1.2777 8.08478 0.822695C7.62978 0.367695 6.89478 0.367695 6.43978 0.822695L1.08478 6.1777C0.62978 6.6327 0.62978 7.3677 1.08478 7.8227L6.43978 13.1777C6.89478 13.6327 7.62978 13.6327 8.08478 13.1777C8.53978 12.7227 8.53978 11.9877 8.08478 11.5327L4.72478 8.16103H20.0898C20.7314 8.16103 21.2564 7.63603 21.2564 6.99436C21.2564 6.3527 20.7314 5.8277 20.0898 5.8277Z"
                    />
                </svg>
            </button>
        </div>

        <ng-container *ngIf="isNew">
            <h2 class="zelf-card__title">{{ t("common.password_layer") }}</h2>
            <p class="zelf-card__subtitle">{{ t("security.new_password_subtitle") }}</p>
        </ng-container>

        <ng-container *ngIf="!isNew">
            <h2 class="zelf-card__title">{{ t("security.password_decryption") }}</h2>
            <p class="zelf-card__subtitle">{{ t("security.password_subtitle") }}</p>
        </ng-container>
    </div>

    <form [formGroup]="form" class="security-password__form" (ngSubmit)="storePassword()">
        <div class="zelf-card__content">
            <div class="zelf-input zelf-input--wide" [ngClass]="{ 'zelf-input--error': form.get('password')?.dirty && form.get('password')?.errors }">
                <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="zelf-input__control zelf-input__control--floating-label"
                    formControlName="password"
                    id="password"
                    name="password"
                    placeholder=" "
                    required
                />

                <label for="password" class="zelf-input__floating-label">{{ t("common.password") }}</label>

                <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
            </div>

            <div
                class="zelf-input zelf-input--wide"
                [ngClass]="{ 'zelf-input--error': form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.errors }"
                *ngIf="isNew"
            >
                <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="zelf-input__control zelf-input__control--floating-label"
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder=" "
                    required
                />

                <label for="confirmPassword" class="zelf-input__floating-label">{{ t("common.confirm_password") }}</label>

                <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
            </div>

            <password-strength formControlName="passwordStrength" [password]="form.get('password')?.value" *ngIf="isNew"></password-strength>

            <div class="zelf-message zelf-message--error zelf-message--column">
                <ng-container
                    *ngIf="
                        (form.get('password')?.dirty && form.get('password')?.errors?.required) ||
                        (form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.errors?.required)
                    "
                >
                    <div class="zelf-message__row">
                        <ng-container *ngTemplateOutlet="cross"></ng-container>
                        <p>{{ t("errors.all_fields_required") }}</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="form.get('confirmPassword')?.errors?.compareTo">
                    <div class="zelf-message__row">
                        <ng-container *ngTemplateOutlet="cross"></ng-container>
                        <p>{{ t("errors.password_doesnt_match") }}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="zelf-card__actions security-password__actions">
            <button [disabled]="form.invalid" class="zelf-button zelf-button--primary zelf-button--wide" mat-flat-button type="submit">
                {{ t("common.confirm_password") }}
            </button>
        </div>
    </form>
</div>

<ng-template #cross>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C13.91 14.69 13.28 14.69 12.89 14.3L10 11.41L7.11 14.3C6.72 14.69 6.09 14.69 5.7 14.3C5.31 13.91 5.31 13.28 5.7 12.89L8.59 10L5.7 7.11C5.31 6.72 5.31 6.09 5.7 5.7C6.09 5.31 6.72 5.31 7.11 5.7L10 8.59L12.89 5.7C13.28 5.31 13.91 5.31 14.3 5.7C14.69 6.09 14.69 6.72 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
            fill="#DC362E"
        />
    </svg>
</ng-template>

<ng-template #openEye>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
        <path
            d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
        />
    </svg>
</ng-template>

<ng-template #closedEye>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
        <path
            d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"
        />
    </svg>
</ng-template>

<ng-template #toggleButton>
    <button (click)="toggleShowPassword()" class="zelf-icon-button zelf-icon-button--transparent" type="button" mat-icon-button tabindex="-1">
        <ng-container *ngTemplateOutlet="showPassword ? openEye : closedEye"></ng-container>
    </button>
</ng-template>
