<div class="unlock-zotp-camera" *transloco="let t">
    <div class="unlock-zotp-camera__header">
        <button
            type="button"
            class="unlock-zotp-camera__close"
            (click)="close()"
            [disabled]="loading"
            [attr.aria-label]="t('common.close')"
        >
            <span class="material-symbols-outlined">close</span>
        </button>

        <span class="material-symbols-outlined unlock-zotp-camera__icon">key</span>
        <h3 class="unlock-zotp-camera__title">{{ t("zotp.unlock_zotp") }}</h3>
    </div>

    <div class="unlock-zotp-camera__context" *ngIf="zotp">
        <span class="material-symbols-outlined unlock-zotp-camera__context-icon">badge</span>
        <span class="unlock-zotp-camera__context-text">
            {{ zotp.name }}<ng-container *ngIf="zotp.issuer"> · {{ zotp.issuer }}</ng-container>
        </span>
    </div>

    <div class="unlock-zotp-camera__stage">
        <biometrics-general
            class="unlock-zotp-camera__biometrics"
            displayMode="portrait"
                [maxDisplayHeight]="672"
            [maxDisplayWidth]="420"
            (canNavigate)="canNavigateAwayHandler($event)"
            (error)="onBiometricsFailed($event)"
            (imageCaptured)="onBiometricsScanned($event)"
        ></biometrics-general>
    </div>

    <div class="unlock-zotp-camera__hint">
        <span class="material-symbols-outlined">verified_user</span>
        <span>{{ t("zotp.security_note") }}</span>
    </div>
</div>
