<div class="w-full h-full zelf-content" fxLayout="column" fxLayoutAlign="start center" *ngIf="zelfName">
	<div class="on-header" fxLayout="row" fxLayoutAlign="space-between center">
		<img src="../../assets/images/full_logo_zns.svg" alt="" (click)="goBack()" class="cursor-pointer zns-logo" />

		<language-picker></language-picker>
	</div>

	<div fxLayout="column" fxLayoutAlign="start center">
		<app-stepper [stepsArray]="steps">
			<app-step *ngFor="let step of steps; index as i" [step]="step" [isActive]="step.isActive" [isCompleted]="step.isCompleted">
				<ng-container>
					<new-name-card></new-name-card>
				</ng-container>
			</app-step>
		</app-stepper>
	</div>
</div>

<!-- <footer class="w-full pt-10"></footer> -->
