@use "../../styles/variables";

.content {
    background: linear-gradient(170deg, variables.$white 20%, #f7b7b9 40%, #c196f9 70%, #85c6ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1200px;
}
