.content {
	background: linear-gradient(170deg, #ffffff 20%, #f7b7b9 40%, #c196f9 70%, #85c6ff 100%);
	// background: linear-gradient(90deg, #f7b7b9 0%, #c196f9 50%, #85c6ff 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 1200px;
}
