<div class="zelf-card home" fxLayout="column" fxLayoutAlign="start center" *transloco="let t">
    <home-header [shareables]="shareables"></home-header>

    <div class="home__app-content">
        <div class="home__container">
            <div class="home__actions-container">
                <div class="home-balance">
                    <zelf-loader [diameter]="60" *ngIf="balancesLoading"></zelf-loader>

                    <div class="home-balance__info" *ngIf="!balancesLoading">
                        <h3 class="home-balance__amount">{{ totalFiatBalance || 0 | currency: "USD" : "symbol" : "1.2-5" }}</h3>

                        <h4 class="stats">
                            <span
                                *ngIf="false"
                                class="stats__percentage"
                                [ngClass]="{
                                    'stats__percentage--positive': true,
                                    'stats__percentage--negative': false,
                                }"
                            >
                                <span class="stats__arrow">
                                    <ng-container *ngIf="true">
                                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.5 0.530273L0.5 4.53027L1.44 5.47027L4.5 2.41694L7.56 5.47027L8.5 4.53027L4.5 0.530273Z" />
                                        </svg>
                                    </ng-container>

                                    <ng-container *ngIf="false">
                                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.5 5.46973L8.5 1.46973L7.56 0.529726L4.5 3.58306L1.44 0.529726L0.5 1.46973L4.5 5.46973Z" />
                                        </svg>
                                    </ng-container>
                                </span>
                                {{ 10 }}%
                            </span>
                        </h4>
                    </div>
                </div>

                <div class="home__actions" fxLayout="row" fxLayoutAlign="center center">
                    <div class="zelf-action-button">
                        <div class="zelf-action-button__icon" [routerLink]="['/receive']">
                            <div class="zelf-action-button__icon-box">
                                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.6755 0.834414C16.2205 0.379414 15.4855 0.379414 15.0305 0.834414L2.32552 13.5277V7.00608C2.32552 6.36441 1.80052 5.83941 1.15885 5.83941C0.517187 5.83941 -0.0078125 6.36441 -0.0078125 7.00608V16.3394C-0.0078125 16.9811 0.517187 17.5061 1.15885 17.5061H10.4922C11.1339 17.5061 11.6589 16.9811 11.6589 16.3394C11.6589 15.6977 11.1339 15.1727 10.4922 15.1727H3.97052L16.6755 2.46775C17.1189 2.02441 17.1189 1.27775 16.6755 0.834414Z"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div class="zelf-action-button__text">{{ t("home.receive_transaction_button") }}</div>
                    </div>

                    <div class="zelf-action-button">
                        <div class="zelf-action-button__icon" [routerLink]="['/send']">
                            <div class="zelf-action-button__icon-box">
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.34571 1.65397C6.34571 2.3073 6.87071 2.82064 7.51238 2.82064H14.034L1.32904 15.5256C0.874043 15.9806 0.874043 16.7156 1.32904 17.1706C1.78404 17.6256 2.51904 17.6256 2.97404 17.1706L15.679 4.46564V10.9873C15.679 11.629 16.204 12.154 16.8457 12.154C17.4874 12.154 18.0124 11.629 18.0124 10.9873V1.65397C18.0124 1.0123 17.4874 0.487305 16.8457 0.487305H7.51238C6.87071 0.487305 6.34571 1.0123 6.34571 1.65397Z"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div class="zelf-action-button__text cursor-pointer">{{ t("home.send_transaction_button") }}</div>
                    </div>

                    <div class="zelf-action-button" *ngIf="false">
                        <div class="zelf-action-button__icon" [routerLink]="['/swap']">
                            <div class="zelf-action-button__icon-box">
                                <svg width="24" height="19" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.13563 6.85496L0.355635 9.64496C0.165635 9.84496 0.165635 10.155 0.355635 10.355L3.13563 13.145C3.44563 13.465 3.98563 13.235 3.98563 12.795V10.995H9.99564C10.5456 10.995 10.9956 10.545 10.9956 9.99496C10.9956 9.44496 10.5456 8.99496 9.99564 8.99496H3.98563V7.20496C3.98563 6.75496 3.44563 6.53496 3.13563 6.85496ZM17.6456 3.64496L14.8656 0.854961C14.5556 0.534961 14.0156 0.764961 14.0156 1.20496V2.99496H7.99564C7.44563 2.99496 6.99564 3.44496 6.99564 3.99496C6.99564 4.54496 7.44563 4.99496 7.99564 4.99496H14.0056V6.78496C14.0056 7.23496 14.5456 7.45496 14.8556 7.13496L17.6356 4.34496C17.8356 4.15496 17.8356 3.83496 17.6456 3.64496Z"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div class="zelf-action-button__text cursor-pointer">{{ t("home.swap") }}</div>
                    </div>

                    <div class="zelf-action-button">
                        <div class="zelf-action-button__icon" [routerLink]="['/swap']">
                            <div class="zelf-action-button__icon-box">
                                <svg width="24" height="19" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.13563 6.85496L0.355635 9.64496C0.165635 9.84496 0.165635 10.155 0.355635 10.355L3.13563 13.145C3.44563 13.465 3.98563 13.235 3.98563 12.795V10.995H9.99564C10.5456 10.995 10.9956 10.545 10.9956 9.99496C10.9956 9.44496 10.5456 8.99496 9.99564 8.99496H3.98563V7.20496C3.98563 6.75496 3.44563 6.53496 3.13563 6.85496ZM17.6456 3.64496L14.8656 0.854961C14.5556 0.534961 14.0156 0.764961 14.0156 1.20496V2.99496H7.99564C7.44563 2.99496 6.99564 3.44496 6.99564 3.99496C6.99564 4.54496 7.44563 4.99496 7.99564 4.99496H14.0056V6.78496C14.0056 7.23496 14.5456 7.45496 14.8556 7.13496L17.6356 4.34496C17.8356 4.15496 17.8356 3.83496 17.6456 3.64496Z"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div class="zelf-action-button__text cursor-pointer">{{ t("home.swap") }}</div>
                    </div>

                    <div class="zelf-action-button">
                        <div (click)="refreshTokens()" class="zelf-action-button__icon">
                            <div class="zelf-action-button__icon-box">
                                <svg height="28" width="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z"
                                    />
                                </svg>
                            </div>
                        </div>

                        <div class="zelf-action-button__text cursor-pointer">{{ t("common.refresh") }}</div>
                    </div>
                </div>
            </div>

            <home-banners class="home__banners" [wallet]="wallet"></home-banners>

            <div class="home__tabs">
                <div class="animated-tabs">
                    <div class="animated-tabs__switch">
                        <div
                            (click)="selectTab('assets')"
                            [ngClass]="{ 'animated-tab--active': shareables.selectedTab === 'assets' }"
                            class="animated-tab"
                        >
                            <div class="animated-tab__text">{{ t("home.assets") }}</div>
                        </div>

                        <div
                            (click)="selectTab('nfts')"
                            [ngClass]="{ 'animated-tab--active': shareables.selectedTab === 'nfts' }"
                            class="animated-tab"
                        >
                            <div class="animated-tab__text">{{ t("home.NFTs") }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home__assets-content" *ngIf="shareables.selectedTab === 'assets'" fxLayout="column" fxLayoutAlign="start start">
                <!-- Skeleton Loader -->
                <div class="home__skeleton-list" *ngIf="balancesLoading">
                    <div *ngFor="let item of [1, 2, 3, 4]" class="home__token-skeleton">
                        <div class="home__skeleton-left">
                            <div class="home__skeleton-icon"></div>
                            <div class="home__skeleton-info">
                                <div class="home__skeleton-line home__skeleton-line--title"></div>
                                <div class="home__skeleton-line home__skeleton-line--subtitle"></div>
                            </div>
                        </div>
                        <div class="home__skeleton-right">
                            <div class="home__skeleton-line home__skeleton-line--balance"></div>
                            <div class="home__skeleton-line home__skeleton-line--fiat"></div>
                        </div>
                    </div>
                </div>

                <token-card
                    (click)="setSelectedAsset(token)"
                    [data]="token"
                    *ngFor="let token of tokens"
                    (pinToggled)="onTokenPinToggled($event)"
                ></token-card>

                <div class="home__manage-networks" [routerLink]="['/settings']" [queryParams]="{ edit: 'networks' }">
                    {{ t("home.manage_networks") }}
                </div>
            </div>

            <div class="home__assets-content" *ngIf="shareables.selectedTab === 'nfts'" fxLayout="column" fxLayoutAlign="start stretch">
                <home-collectibles
                    [active]="shareables.selectedTab === 'nfts'"
                    [reloadKey]="collectiblesReloadKey"
                    [wallet]="wallet"
                ></home-collectibles>
            </div>
        </div>
    </div>

    <zelf-footer [shareables]="shareables"></zelf-footer>
</div>
