@use "../../../../styles/variables";

.zelf-tag-button {
    user-select: none;
    cursor: pointer;
    align-self: stretch;
    padding: 12px 16px 12px 24px;
    border: 1px solid transparent;
    background:
        linear-gradient(variables.$themeCardBorder, variables.$themeCardBorder) padding-box,
        linear-gradient(135deg, variables.$themeBorderHover, variables.$themeCardBorder) border-box;
    box-shadow: 0px 8px 24px variables.$themeShadow;
    border-radius: 16px;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
    transition:
        color 0.2s variables.$smoothBezier,
        background-color 0.2s variables.$smoothBezier,
        box-shadow 0.2s variables.$smoothBezier;

    &:hover {
        background: variables.$secondaryColor;
        color: variables.$themeCard;
        box-shadow: 0px 8px 24px variables.$themeShadow;

        .zelf-tag-button__text {
            color: variables.$themeCard;
        }

        .zelf-tag-button__icon {
            svg {
                fill: variables.$themeCard;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    &__text {
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: variables.$themeText;
        font-size: 14px;
        font-family: variables.$themeBodyFamily;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.1px;
        word-wrap: break-word;
        margin: 0;
        transition: color 0.2s variables.$smoothBezier;

        @media (max-width: variables.$minSmall) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__indicator {
        width: 8px;
        height: 8px;
        min-width: 8px;
        background-color: #00d084;
        border-radius: 50%;
    }

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
            fill: variables.$themeText;
            transition: fill 0.2s variables.$smoothBezier;
        }
    }
}

:host-context(html.zns-theme-light) {
    .zelf-tag-button {
        background:
            linear-gradient(#f7f8fb, #f7f8fb) padding-box,
            linear-gradient(135deg, #c3c6cf, #eeedf1) border-box;

        &:hover {
            background: variables.$secondaryColor;
        }
    }
}
