<div class="currency-item" *ngIf="currency">
    <img class="currency-item__icon" [src]="currency.image" alt="icon" />

    <div class="currency-item__info">
        <div class="currency-item__network-info">
            <p class="currency-item__network">{{ currency.symbol }}</p>
            <p class="currency-item__network-chip">{{ currency.network }}</p>
        </div>

        <p class="currency-item__name">{{ currency.symbol }}</p>
    </div>

    <div class="currency-item__balance">
        <span class="currency-item__fiat-balance">{{ currency.price | currency : "USD" : "symbol" : "1.2-9" }}</span>
        <div class="currency-item__fiat-balance">{{ currency.fiatBalance | currency : "USD" : "symbol" : "1.2-5" }}</div>
    </div>
</div>
