@import "../../styles/variables.scss";
@import "../../styles/buttons.scss";

.currency-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s $smoothBezier;
    width: 100%;
    cursor: pointer;

    &__icon {
        height: 40px;
        width: 40px;
        min-height: 40px;
        min-width: 40px;
        object-fit: contain;
    }

    &__name {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
    }

    &:hover {
        background-color: $antiFlashWhite;
    }
}
